@import "../colors";

.skin-green-light {
    .main-header {
        background-color: $green;
        .nav-item > a {
            background-color: $green;
        }
        .nav-item > a:hover {
            background-color: darken($green, 5%);
        }
    }
    .main-sidebar {
        background-color: #f9fafc;
        li > a {
            color: lighten($gray-900, 6.5%);
        }
        li > a:hover {
            color: #000000 !important;
            background-color: #f4f4f5 !important;
        }
        li > p {
            color: lighten($gray-900, 31.6%);
        }
        .logo-switch {
            background-color: darken($green, 5%) !important;
            color: #fff !important;
            border-bottom: none;
            &:hover {
                background-color: darken($green, 6%) !important;
            }
        }
    }
}
