<?php

return [
    'vs.db' => [
        'global_tables' => [
            'bank_countries',
            'bonus_types',
            'config',
            'currencies',
            'fx_rates',
            'license_config',
            'micro_games',
            'race_templates',
            'races',
            'risk_profile_rating',
            'tournament_tpls',
            'tournaments',
            'triggers',
            'trophies',
            'trophy_awards',
            'voucher_codes',
            // TODO the 2 below can be removed once we get admin "new game wizard"
            'game_themes', // this table is empty on both master/shard
            'themes', // this table is not used anywhere in the active codebase (lookup table for game_themes)
            'attachments',
        ],
        'sharded_tables' => [
            'welcome_bonus_trophies',
            'actions',
            'bets',
            'bets_mp',
            'bets_tmp',
            'bonus_entries',
            'cash_transactions',
            'deposits',
            'ext_game_participations',
            'ext_game_participations_bonuses',
            'ext_game_participations_increments',
            'ext_game_participations_rounds',
            'external_regulatory_user_balances',
            'failed_bonuses',
            'first_deposits',
            'ip_log',
            'jackpot_wheel_log',
            'lga_log',
            'money_laundry',
            'pending_withdrawals',
            'queued_transactions',
            'race_entries',
            'responsibility_check',
            'risk_profile_rating_log',
            'rg_limits',
            'rounds',
            'sport_transactions',
            'sport_transaction_details',
            'tournament_entries',
            'triggers_log',
            'trophy_award_ownership',
            'trophy_events',
            'trophy_ownership',
            'user_flags',
            'users',
            'users_blocked',
            'users_changes_stats',
            'users_comments',
            'users_complaints',
            'users_complaints_responses',
            'users_daily_balance_stats',
            'users_daily_booster_stats',
            'users_daily_game_stats',
            'users_daily_stats',
            'users_daily_stats_mp',
            'users_daily_stats_total',
            'users_game_filters',
            'users_game_sessions',
            'users_game_sessions_stats',
            'users_games_favs',
            'users_monthly_interaction_stats',
            'users_monthly_liability',
            'users_notifications',
            'users_realtime_stats',
            'users_rg_evaluation',
            'users_segments',
            'users_sessions',
            'users_settings',
            'value_transactions',
            'vouchers',
            'wins',
            'wins_mp',
            'wins_tmp',
            'responsibility_check',
            'scv_export_status',
            'sport_transaction_info',
            'user_game_session_bets',
            'user_game_session_wins',
            'users_privacy_settings'
        ],
        'master_and_sharded_tables' => [
            'users_daily_balance_stats',
            'users_daily_booster_stats',
            'users_daily_game_stats',
            'users_daily_stats',
            'users_daily_stats_mp',
            'users_daily_stats_sports',
            'users_monthly_liability',
            'users_lifetime_stats',
        ],
        'sharding_status' => true,
        'shards' => [
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node0', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node1', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node2', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node3', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node4', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node5', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node6', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node7', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node8', 'database' => 'videoslots'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'node9', 'database' => 'videoslots']
        ],
        'shards_replica' => [
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard0'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard1'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard2'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard3'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard4'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard5'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard6'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard7'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard8'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'devshard9']
        ],
        'shards_archive' => [
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node0'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node1'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node2'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node3'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node4'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node5'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node6'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node7'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node8'],
            ['username' => 'devuser', 'password' => '1234', 'host' => 'localhost', 'database' => 'node9']
        ],
        'migration_driver' => '', //'pt-online-schema-change' or 'gh-ost'
        'migration_driver_options' => [], //driver specific configuration. recommended for pt ['--no-version-check']
    ],
    'mosaico' => [
        'base_url' => "https://__DOMAIN__/",
        'base_dir' => "__HOST_DIR__/admin2/",
        'uploads_url' => "phive/admin/customization/plugins/mosaico-template/email-templates/",
        'uploads_dir' => "phive_admin/customization/plugins/mosaico-template/email-templates/",
        'static_url' => "phive/admin/customization/plugins/mosaico-template/email-templates/static/",
        'static_dir' => "phive_admin/customization/plugins/mosaico-template/email-templates/static/",
        'thumbnails_url' => "phive/admin/customization/plugins/mosaico-template/email-templates/thumbnail/",
        'thumbnails_dir' => "phive_admin/customization/plugins/mosaico-template/email-templates/thumbnail/",
        'thumbnail_width' => 90,
        'thumbnail_height' => 90
    ],
    'locale' => [
        'race' => [
            'headline' => 'Clash Of Spins'
        ]
    ],
];
