// .cookie-popup__description
$cookie-description--color: #474747;

// text color for .cookie-popup__sub-header
$cookie-subheader-text--color: $main-color;

// btl allow all cookies
$cookie-allow-all-button--background: #003E68;