// .edit-profile-select-wrapper #preferred_lang
$edit-profile-select--border-color: #016BB2; //$light-grey;

// .registerform input[type=text],
// .registerform input[type=tel],
// .registerform input[type=password]
$edit-profile-input--border-color: #016BB2; //$light-grey;

// .edit-profile-submit-btn
$edit-profile-submit-btn--background: $primary-500;

