// .section-card .term-and-conditions
$term-and-conditions-background-image: url("#{$brand-image-path}/term-and-conditions.svg");

// .section-card .privacy_policy
$privacy_policy-background-image: url("#{$brand-image-path}/privacy_policy.svg");

// .section-card .cookies_policy
$cookies_policy-background-image: url("#{$brand-image-path}/cookies_policy.svg");

// .section-card a
$section-cars-a--color: #FDB645;

// .top-header .center-item
$top-header-center-item-background-image: url("#{$brand-image-path}/brandlogo.svg");

// .domain-help-container .game-filter #secondary-nav ul li a .icon::before
$secondary-nav--ul-li-icon-before--color: #FDB645;
