// .notification_item
$notification_item--background-color: $dark-blue-400;
$notification_item--border: none;

// .notification_item-date
$notification_item-date--font-size: 12px;
$notification_item-date--color: $kunga-blue;
