// #reality-check-popup
$reality-check-popup--top: -180px;

// .rc__top-part
$rc-top-part--background-color: $main-color;

//.rc__top-part--title
$rc-top-part-title--font-size: 18px;

// .rc__body--title
$rc-body-title--color: $main-color;
$rc-body-title--font-size: 24px;
$rc-body-title--padding-bottom: 0px;

//.rc__body--text
$rc__body--text--color: $neutral-900;
$rc__body--text--font-size: 15px;
$rc__body--text--text-align: center;

// .button-rc
$button-rc--background-color: $green-button-popups;
$button-rc--border-radius: 5px;
$button-rc--box-shadow: none;
$button-rc--font-weight: 700;

//#reality-check-interval
$reality-check-interval--padding: 15px 0 15px 12px;
$reality-check-interval--color: #595959;
$reality-check-interval--border: 1px $main-color solid;
$reality-check-interval--box-shadow: none;

// .reality-check-btn
$reality-check-btn--padding: 11px 20px;
$reality-check-btn--background-color: $main-color;
$reality-check-btn--box-shadow: none;

// .rc__actions--buttons mobile
$rc-actions-buttons-mobile--flex-direction: column;

// .rc__actions--buttons .button-rc
$rc-actions-buttons-button-rc--width: auto;

// #dialogRcSetButton.button-rc
$dialogRcSetButton-button-rc--width: auto;
$dialogRcSetButton-button-rc--margin: 0px 16px;
