// Generic name since variable is to be used in multiple classes,
// otherwise use naming convention detailed in https://wikijs.videoslots.com/en/home/development/general-processes/SASS-based-branding
$tournament-brand--color: #18723C;

// .right-fixed
$right-fixed--background-color: $dark-blue-divider;
$right-fixed--border-radius: 0px 0px 5px 5px;
$right-fixed--border: solid 1px $dark-blue-divider;
$right-fixed--text-shadow: 1px 1px 1px $black;

// .mp-activity-t-right > span
$mp-activity-t-right-span--color: #fff;
$mp-activity-t-right-span--font-size: 12px;

// .mp-activity-t-name
$mp-activity-t-name--color: #fff;
$mp-activity-t-name--font-size: 15px;

// .mp-activity-btn
$mp-activity-btn--background: url("/diamondbet/images/kungaslottet/tournament/playbtn.png");

// .mp-activity-view-link
$mp-activity-view-link--color: $kunga-blue-200;