@include custom-code(dbet) {

  #vs-licensing-strip {
    background: $primary-500;
    border: none;
    height: 25px;
    flex: 0 0 25px;
  }

  .vs-licensing-strip__content {
    color: $white;
  }

  .vs-clock-icon {
    font-size: 16px;
  }

  .vs-game-info-strip {
    @media screen and (orientation: portrait) {
      border-top: none;
    }

    @media screen and (orientation: landscape) {
      border-left: none;
    }
  }

  .vs-game-info-strip__content {
    color: $white;
  }

  .vs-game-info-strip__item-container--outlined {
    font-size: 100%;
  }

  .vs-avatar__image {
    width: 18px;
    height: 18px;
    border: none;
  }

  .vs-game-info-strip__item-container--outlined {
    background: transparent;
  }

  .vs-game-info-strip__split-buttons-container {
    background: $primary-800;
  }

  .vs-button__rewards {

    // .vs-button__rewards #notification-count
    #notification-count {
      background: $primary-700;
      border: 1px solid $white;

      width: 10px;
      height: 10px;
      font-size: 6px;

      .has-large-bottom-bar & {
        width: 12px;
        height: 12px;
        font-size: 8px;

        line-height: 11px;
      }
    }
  }

  #vs-button__user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    position: relative;

    // #vs-button__user:after
    &:after {
      content: '\e94f';
      font-family: 'videoslots-font';
      display: block;
      font-size: 12px;
      line-height: 18px;
      position: absolute;
      left: 1px;
      top: 0;
    }

    // we are not displaying the image, but displaying an icon instead
    // just for Megariches. later this should be universal

    // #vs-button__user img
    img {
      display: none;
    }
  }

  .has-large-bottom-bar {

    // .has-large-bottom-bar #vs-button__user
    #vs-button__user {
      width: 24px;
      height: 24px;

      // .has-large-bottom-bar #vs-button__user:after
      &:after {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .vs-button__deposits {
    background: $button-deposit;
    color: $button-text-dark;

    font-size: 12px;
    padding: 2px;
  }

  .has-large-bottom-bar .vs-button__deposits {
    font-size: 20px;
    padding: 2px;
  }


  .vs-button__rewards {

    // .vs-button__rewards.icon-vs-gift
    &.icon-vs-gift {
      color: $white;
    }

    // .vs-button__rewards .vs-mobile-rewards-count
    .vs-mobile-rewards-count {
      top: 4px;
      right: -4px;

      width: 10px;
      height: 10px;

      font-size: 6px;
      line-height: 8px;

      border: 1px solid $white;
    }
  }

  .has-large-bottom-bar.has-large-bottom-bar .vs-mobile-rewards-count {
    top: 9px;
    right: -2px;
    width: 12px;
    height: 12px;
    font-size: 8px;
    line-height: 1;
  }

  .has-large-bottom-bar.has-large-bottom-bar .vs-game-info-strip__switch {
    color: $white;
    background: $primary-700;

    @media screen and (orientation: portrait) {
      margin-top: -30px;
    }

    @media screen and (orientation: landscape) {
      margin-left: -30px;
    }
  }

  .vs-game-info-strip.gradient-normal {
    background: $primary-700;
  }


  .vs-button__split-main, .vs-button__split-individual {
    @media screen and (orientation: portrait) {
      border-left: 1px solid $secondary-500;
    }

    @media screen and (orientation: landscape) {
      border-top: 1px solid $secondary-500;
    }
  }

  .vs-button__split-main:first-child, .vs-button__split-individual:first-child {
    color: $primary-50;
  }

  .vs-game-info-strip__item > .vs-button__split-individual-index {
    color: $white;
  }

  $vs-notification--margin: 0px; // 8px for other brands
  .vs-notification {
    width: calc(100% - 2*#{$vs-notification--margin});
    margin: 0 $vs-notification--margin;
    background: $frame-800;
    color: $neutral-700;

    & strong {
      color: $primary-200;
    }
  }

  .vs-notification:nth-child(even) {
    background: $frame-400;
  }


  // Game Search

  .vs-game-search__input-container {
    background: $frame-800;
  }

  .vs-game-search__input-search-container {
    background: none;
  }

  .vs-game-search-strip {
    background: $primary-500;
  }

  .vs-game-search__strip-item--active {
    color: $white;
  }

  .vs-game-search__game-links {
    background: $frame-1000;
  }

  .vs-game-search__game-title {
    color: $neutral-900;
  }

  .vs-game-search__input-search-container {
    border-top: 1px solid $neutral-800;
    border-right: none;
    border-left: 1px solid $neutral-800;
    border-bottom: 1px solid $neutral-800;

    background: $white;
    color: $neutral-700;

    font-size: 16px;
  }

  .vs-game-search__input {
    border-top: 1px solid $neutral-800;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $neutral-800;
  }

  .vs-game-search__input-close-container {
    border-top: 1px solid $neutral-800;
    border-right: 1px solid $neutral-800;
    border-left: none;
    border-bottom: 1px solid $neutral-800;

    color: $neutral-700;
  }

  // Split Submenu

  .vs-button__split-individual-submenu {
    color: $white;
    background: $primary-500;
    border-radius: 5px;
    padding-right: 30px;
  }

  // Search in desktop split mode
  #gfooter-result .load-more-games .btn {
    color: $button-text-light;
  }

  // Iframes in popups
  body.iframe-in-popup {
    background: $simple-box--background;
  }
}