$pnp-email--background-image: url("../../images/pay-n-play/mail.svg");
$pnp-email-red--background-image: url("../../images/pay-n-play/mail-red.svg");
$pnp-phone--background-image: url("../../images/pay-n-play/phone.svg");
$pnp-phone-red--background-image: url("../../images/pay-n-play/phone-red.svg");

@import "../pay-n-play.scss";
