.jur-notice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 380px;
}

.jur-notice-container__img {
  width: 95%;
  height: auto;
}

.jur-notice-container__message {
  width: 95%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.jur-notice-container__btn-container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jur-notice-container__btn {
  width: 45%;
  height: 35px;
  border-radius: 5px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .jur-notice-container {
    height: 80vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .jur-notice-container__img {
    height: 50vh;
  }

  .jur-notice-container__btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: -5px 0;
  }

  .jur-notice-container__btn {
    margin: 5px 0;
    width: 100%;
    height: 45px;
  }
}
@media screen and (max-device-height: 480px) and (orientation: landscape) {
  .jur-notice-container {
    overflow: hidden;
    min-height: 200px;
  }

  .jur-notice-container__img {
    height: 40vh;
  }

  .jur-notice-container__btn {
    height: 38px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .jur-notice-container {
    min-height: 180px;
  }
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .jur-notice-container__btn {
    width: 100% !important;
  }
}
.jur-notice-container__btn.btn-action-l {
  background: #4075FF;
  width: 49%;
}

.jur-notice-container__btn.btn-cancel-default-l {
  background: #F4C004;
  width: 49%;
}

.jur-notice-container__message a {
  color: #3058B8;
  font-weight: 700;
}