.rg-locked-game-category__popup-container .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rg-locked-game-category__popup-container .text-container p {
  margin-top: auto;
}

.rg-limit-popup__btn {
  padding: 10px 84px;
  height: auto;
  width: 100% !important;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .rg-limit-popup__btn {
    width: auto !important;
  }
}

.rg-limit-popup__confirm-btn {
  background: #4075FF;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .rg-limit-popup__confirm-btn {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.rg-limit-popup__cancel-btn {
  background: #F4C004;
}

@media screen and (max-width: 768px) {
  .rg-limit-popup__container .mbox-button-strip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rg-locked-game-category__popup-container .mbox-ok-btn {
  background-color: #4075FF;
  color: #FFF;
  padding: 0 20px;
  height: 43px;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .rg-locked-game-category__popup-container .mbox-ok-btn {
    width: 100% !important;
  }
}

.rg-locked-game-category__popup-container .text-container h3 {
  color: #232323;
}