**/.idea/*
**/.scannerwork/*
**/.sonar/*
**/.vscode/*
*DS_Store*
.htaccess
.phpstorm.meta.php
.svn/*
Thumbs.db
log/*
shix/*
vendor/*
config/

test/*
.idea/*
css/iframe_games/node_modules
css/iframe_games/package-lock.json
sass-compiler/node_modules
