// cashier.scss variables

// #cashierDepositWithdraw
$cashier-deposit-withdraw--background: url('#{$brand-image-path}/news/news-bg-middle.png') repeat-y scroll 0 0 transparent;

// .cashierHeader
$cashier-header--background-color: #4D4D4D;
$cashier-header--height: 30px;
$cashier-header--color: $primary-600;
$cashier-header--margin-top: -14px;

// .cashierHeader .closed
$cashier-header-closed--background: url('#{$brand-image-path}/slide_close_icon.png') no-repeat;

// .cashierHeader .open
$cashier-header-open--background: url('#{$brand-image-path}/slide_down_icon.png') no-repeat;

// .cashierHeader h3
$cashierHeader-h3--padding: 5px;

// .cashierBox .noDepBox
$cashier-box-no-dep-box--border: 1px solid #636363;
$cashier-box-no-dep-box--margin-bottom: 20px;

// .infoArea
$info-area--padding: 10px;
$info-area--font-size: 14px;

// .infoArea ul
$info-area-ul--width: 160px;
$info-area--padding-left: 5px;

// .infoImage
$info-image--width: 190px;

// .infoText
$info-text--width: 520px;

// .cashierBoxInsert
$cashier-box-insert--padding: 20px;
$cashier-box-insert--border-top: 1px solid #636363;

// .cashierDefaultInput
$cashier-default-input--border-color: $primary-600;

// .cashierDefaultInput:focus
$cashier-default-input-focus--border-color: $primary-600;

// .cashierInput
$cashier-input--border-color: $primary-600;
$cashier-input--height: 30px;
$cashier-input--width: 200px;
$cashier-input--border-radius: 5px;
$cashier-input--box-shadow: inset 2px 2px 2px #888;
$cashier-input--padding-left: 5px;
$cashier-input--padding-right: 5px;
$cashier-input--position: relative;

//.cashierInput:focus
$cashier-input-focus--border-color: $primary-600;

// .cashierSelect__container::after
$cashierSelect-container-after--right: 10px;
$cashierSelect-container-after--top: 50%;

// .cashierSelect
$cashier-select--border-color: $primary-600;
$cashier-select--width: 210px;
$cashier-select--position: relative;
$cashier-select--left: 185px;
$cashier-select--top: -25px;

// .cashierSelect:focus
$cashier-select-focus--border-color: $primary-600;

// .cashierDefaultBtnInner
$cashier-default-btn-inner--background: url('#{$brand-image-path}/account/transfer_btn_bg_yellow.png') repeat-x;

// .cashierBtnInner
$cashier-btn-inner--height: 43px;
$cashier-btn-inner--width: 150px;
$cashier-btn-inner--background: url('#{$brand-image-path}/account/transfer_btn_bg_yellow.png') repeat-x;

// .cashierBtnInner h4
$cashier-btn-inner-h4--font-size: 18px;
$cashier-btn-inner-h4--margin-top: 10px;
$cashier-btn-inner-h4--text-shadow: 1px 1px 1px #000;

// .info_box
$info-box--background: url('#{$brand-image-path}/dc-box/infobox.png') no-repeat scroll 0 0 transparent;

// .card_back
$card-back--background: url('#{$brand-image-path}/dc-box/backcard.png') no-repeat scroll 0 0 transparent;

// .icon_questionmark
$icon-questionmark--background: url('#{$brand-image-path}/dc-box/info.png') no-repeat scroll 0 0 transparent;

// .cashierBoxInsertCol
$cashier-box-insert-col--width: 440px;

// .ulBig
$ul-big--color: #FFF6A7;

// .cashierBoxInsert label.error
$cashier-box-insert-label-error--margin: -20px 0px 25px 170px;

// .bank-other-account-btn
$bank-other-account-btn--top: -5px;
