// .clashes-info-button
$clashes-info-button--background: #C78E31;

// .clashes-info-button:hover
$clashes-info-button-hover--background: #CBA036;

// .score-row-user
$score-row-user--border-color: #C78E31;

// .counter
$counter--color: #C78E31;

// .subtitle
$subtitle--color: #C78E31;

// .yellow
$yellow--color: #C78E31;

// .clashes-title-label
$clashes-title-label--color: #C78E31;

// .clashes-filter-label input[type=text]:focus,
// .clashes-filter-label input[type=text]:active
$clashes-filter-label-input--border-color: #ffd940;
