// .edit-profile-select-wrapper #preferred_lang
$edit-profile-select--border-color: $primary-600; //#9C7238;

// .registerform input[type=text],
// .registerform input[type=tel],
// .registerform input[type=password]
$edit-profile-input--border-color: $primary-600; //#9C7238;

// .edit-profile-submit-btn
$edit-profile-submit-btn--background: $primary-500;
