// a.button
$a-button--border-color: #9c7238;

// a.button:link
$a-button-link--color: #9c7238;

// a.button:visited
$a-button-visited--color: #9c7238;

// a.button:hover
$a-button-hover--color: #9c7238;

// a.button:active
$a-button-active--color: #9c7238;

// .bar
$bar--color: #9c7238;

// .bar a:link
$bar-a-link--color: #9c7238;

// .bar a:visited
$bar-a-visited--color: #9c7238;

// .bar a:hover
$bar-a-hover--color: #9c7238;

// .bar a:active
$bar-a-active--color: #9c7238;

// input
$input--border-color: #9c7238;

// select
$select--border-color: #9c7238;

// .text_bold
$text-bold--color: #9c7238;

// .text_small
$text-small--color: #9c7238;

// .btn
$btn--border-color: #9c7238;