// .notification_item
$notification_item--background-color: #1a1a1a;
$notification_item--border: 1px solid #444242;

// .notification_item-date
$notification_item-date--font-size: 9px;
$notification_item-date--color: #afafaf;
