// input[type="file"]::file-selector-button
$document-input-file-type--border-color: $primary-400;

// .document-status
$document-status--color: $white;

// .document h3
$document-h3--color: $white;

// .choose-file-container > span
$choose-file-container-span--font-weight: bold;
$choose-file-container-span--font-size: 14px;

// .choose-file-field
$choose-file-field--color: $white;

// .add-file-field
$document-add-file-field--background: $button-primary-dark;
$document-add-file-field--border: none;

// .account-documents-holder
$account-documents-holder--border: 1px solid $white;
$account-documents-holder--background-color: #F4F4F4;
$account-documents-holder--color: #474747;

// .document-status-section .upload-instructions-headline
$document-status-section-upload-instructions-headline--color: $white;

// .document-status .document-status-info
$document-status-document-status-info--color: #c4c4c4;