// .rtp-item
$rtp-item--background: $frame-600; //('#{$brand-image-path}/box-bg.png) black repeat-x;
$rtp-item--border: none;

// .rtp-item.rtp-item--big
$rtp-item-big--height: 135px;

// .rtp-item h3, .rtp-g-item h3
$rtp-item-h3--font-size: 20px;

//.rtp-item-avatar
$rtp-item-avatar--border: none;

// .rtp-table tbody tr
$rtp-table-tr--border-top: 1.5px solid $primary-800;

// .rtp-table tbody tr:first-child
$rtp-table-tbody-tr-first-child--border-top: none;

// .rtp-more
$rtp-more--background: $primary-500;

// .rtp-filter h2
$rtp-filter-h2--color: $primary-500;
$rtp-filter-h2--font: 700 16px/normal Roboto, Arial, Helvetica, sans-serif;
$rtp-filter-h2--margin: 0 0 16px 0;

// .rtp-filter-label input[type=text]
$rtp-filter-label-input--border: 1px solid $primary-600;
$rtp-filter-label-input--border-radius: 5px;
$rtp-filter-label-input-type-text--font: 400 14px/normal Roboto, Arial, Helvetica, sans-serif !important;
$rtp-filter-label-input-type-text--height: 32px;

// .rtp-buttons-wrapper
$rtp-buttons-wrapper--margin: 10px 0 17px 0;

// .rtp-buttons-wrapper.rtp-btn.inactive[data-type="day"],
// .rtp-buttons-wrapper.rtp-btn.inactive[data-type="week"],
// .rtp-buttons-wrapper.rtp-btn.inactive[data-type="month"]
$rtp-buttons-wrapper-rtp-btn-inactive--background: none;
$rtp-buttons-wrapper-rtp-btn-inactive--border: 1px solid $white;
$rtp-buttons-wrapper-rtp-btn-inactive--color: $button-text-light;

// .rtp-btn
$rtp-btn--line-height: 32px;
$rtp-btn--height: 32px;

// .rtp-btn.active
$rtp-btn-active--background: $primary-gradient;
$rtp-btn-active--color: $button-text-dark;

// .rtp-btn.inactive
$rtp-btn-inactive--background: $button-primary-dark;

// .rtp-button--search
$rtp-button--search--border-radius: 5px;

// .rtp-date-row
$rtp-date-row--gap: 9px;

// .rtp-date-wrapper
$rtp-date-wrapper--gap: 4px;

// .rtp-filter-label .rtp-date
$rtp-filter-label-rtp-date--width: 97px;

//.rtp-filter-label .rtp-time
$rtp-filter-label-rtp-time--width: 67px;

// .rtp-detail-btn
$rtp-detail-btn--width: 19px;
$rtp-detail-btn--height: 19px;

// .rtp-detail-btn.icon.icon-vs-chevron-left:before
$rtp-detail-btn-icon-before--font-size: 10px;
$rtp-detail-btn-icon-before--line-height: 19px;
$rtp-detail-btn-icon-before--width: 19px;
$rtp-detail-btn-icon-before--font-width: 900;

// .rtp-session-datetime
$rtp-session-datetime--padding-top: 70px;

// .rtp-g-item,
// .rtp-g-item-big
$rtp-g-item--background: $frame-600;
$rtp-g-item--border: none;

// .rpt-g-values_item strong
$rpt-g-values-item-strong--font: 700 20px/20px Roboto, Arial, Helvetica, sans-serif;
$rpt-g-values-item-strong--color: $primary-500;

// .rtp-col-icon
$rtp-col-icon--gap: 6px;

// .rtp-graph-box
$rtp-graph-box--background: $frame-600;
$rtp-graph-box--border: none;
