// .mobile-accountslip h3
$mobile-accountslip-h3--color: $primary-500;
$mobile-accountslip-h3--text-transform: initial;
$mobile-accountslip-h3--padding-left: initial;

// .active-rewards-bg h3
$active-rewards-bg-h3--background: none; //url('/diamondbet/images/mobile/gift-flat.png') no-repeat 50% 0;
$active-rewards-bg-h3--background-position: initial;
$active-rewards-bg-h3--background-size: initial;

// .latest-trophies-bg h3
$latest-trophies-bg-h3--background: none; //url('/diamondbet/images/mobile/trophy-flat.png') no-repeat 50% 0;
$latest-trophies-bg-h3--background-position: initial;
$latest-trophies-bg-h3--background-size: initial;

// .view-more-mobile
$view-more-mobile--font-size: 18px;
$view-more-mobile--color: white;
$view-more-mobile--background-color: $button-primary-light;
$view-more-mobile--border-radius: 5px;
$view-more-mobile--font-weight: 700;
$view-more-mobile--line-height: 1;

// .recent_account_history-mobile tr
$recent_account_history-mobile-tr--border-top: none;

// .recent_account_history-mobile td
$recent_account_history-mobile-td--color: $white;

// .recent_account_history-mobil h3
$recent_account_history-mobil-h3--font-weight: 700;
