// .game .game-top
$game_game-top--height: 106px;

// .game .game-text
$game-game-text--color: $white;

// .game-choose-headline
$game-choose-headline--background: url('#{$brand-image-path}/mobile/game-chooser-headline-bkg.png') repeat-x;
$game-choose-headline--padding-left: 12px;
