// .sourceoffundsbox-header
$sourceoffundsbox-header--background-color: $primary-900;

// .submit_source_button
$submit-source-button--background-color: $primary-500;

// .proofofwealth-popup-header
$proofofwealth-popup-header--background-color: $primary-900;

// .source_of_funds_modal_header
$source-of-funds-modal-header--background-color: $placeholder-color;
