// .winning-text-middle
$winning-text-middle--color: white !important;

// .jp-info-text-color
$jp-info-text-color--color: $primary-500;

// .jp-info-text
$jp-info-text--color: $primary-500;

// .winText
$wintext--color: $primary-400;

// .modal-content:
$modal-content--background: $black;

// .fs-modal-content
$fs-modal-content--background-color: $black;

// .fs-modal-header
$fs-modal-header--background-color: $primary-900;

// .fs-modal-body
$fs-modal-body--background-color: black;

// .fs-modal-footer
$fs-modal-footer--background: $black;

// .modal-header
$modal-header--background-color: $primary-900;

// .modal-body
$modal-body--background-color: black;

// .modal-footer
$modal-footer--background: $black;

// .btn-profile, .btn-affirmative
$btn-profile-btn-affirmative--background: $primary-500;

// .btn-homepage
$btn-homepage--background: $button-secondary-light;

// .win-text-header-top
$win-text-header-top--color: $primary-400;

// .winning-text
$winning-text--color: $primary-400;

// .w-a-btn-search:after
$w-a-btn-search-after--background: url('#{$brand-image-path}/search.png') center center no-repeat;

// .w-a-filter-label input[type="text"]:focus, .g-a-filter-label input[type="text"]:active
$w-a-filter-label-input--border-color: $primary-500;
