.cashierMsgBackBtn {
  position: fixed;
  top: 410px;
  left: 410px;
  width: 250px;
}

.cashierBoxInsert {
  font-size: 12px;
}

.icon_questionmark {
  left: 40px;
  top: -52px;
}

.cashier-make-normal-wrapper {
  position: fixed;
  top: 420px;
  left: 360px;
  width: 100%;
  position: static;
}
.cashier-make-normal-wrapper .btn-default-xl {
  background: -webkit-gradient(linear, left top, left bottom, from(#2EB649), to(#0D3515));
  background: linear-gradient(180deg, #2EB649 0%, #0D3515 100%);
}

#pugglepay-verification, #pugglepay-authorize {
  padding: 0 0 10px 25px !important;
  margin-top: 10px !important;
  position: relative;
  z-index: 100;
  height: 390px !important;
}

.cashier-expense-min-label,
.cashier-expense-max-label,
.cashier-expense-min-value,
.cashier-expense-max-value {
  font-size: 10px;
  color: #FFF;
}

.expense-info {
  margin-left: 60px;
}

.ulBig {
  color: #FFF;
}

.cashier-wrapper {
  width: 956px;
  padding: 20px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper:has(.container-holder > .cashier-wrapper > .cashier2-layout-table),
.cashier-box-inside-iframe > #wrapper {
  background: #1A1814 !important;
}

.cashier-help-table {
  position: fixed;
  top: 475px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;
  position: static;
}
.cashier-help-table tbody tr td:first-child > p {
  margin-left: 48px;
}

.cashier-help-table .w-40-pc {
  width: 145px;
}

.cashier-help-table .w-10-pc {
  width: 61px;
}
.cashier-help-table .w-10-pc img {
  margin-left: 25px;
}

.cashier-help-table .help-live-chat {
  width: 182px;
}

.cashier-help-table h3 {
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 10px;
}

.cashier-help-table td {
  color: #FFF;
  font-size: 10px;
}

.cashier-predefined-amount {
  background-color: #FFF;
  border-radius: 4px;
  color: #5E5E5E;
  padding: 3px 0px 3px 0px;
  margin: 5px 5px 5px 5px;
  font-size: 15px !important;
  font-weight: bold;
  width: 128px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gradient-text-default {
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

.cashier-expense {
  font-weight: bold;
}

.cashier2-layout-table {
  margin-top: 0px;
  border-spacing: 0;
}
.cashier2-layout-table td {
  padding: 0;
}

.cashier2-layout-table td {
  vertical-align: top;
}

.dc_exp1,
.dc_exp2 {
  width: 126px !important;
}

.dc_exp1 {
  margin-right: 8px;
}

.icon_questionmark {
  top: -66px;
  left: 32px;
}

#deposit-predefined-amounts-container table {
  border-spacing: 0;
}
#deposit-predefined-amounts-container table tr > td:first-child .cashier-predefined-amount {
  margin: 0 7px 7px 0;
}
#deposit-predefined-amounts-container table tr > td:last-child .cashier-predefined-amount {
  margin: 0;
}
#deposit-predefined-amounts-container table tr > td .gradient-default {
  background: #B89A54;
  text-shadow: none;
}

#card-repeats .zebra-tbl .zebra-header,
#extra-fields .zebra-tbl .zebra-header {
  border-bottom: 1px solid #1A1814;
}
#card-repeats .zebra-tbl tr,
#extra-fields .zebra-tbl tr {
  height: 36px;
}
#card-repeats .zebra-tbl tr td,
#extra-fields .zebra-tbl tr td {
  vertical-align: middle;
}
#card-repeats .zebra-tbl tr > td:last-child,
#extra-fields .zebra-tbl tr > td:last-child {
  text-align: right;
}
#card-repeats .zebra-tbl .odd,
#extra-fields .zebra-tbl .odd {
  background-color: transparent;
}
#card-repeats .btn-default-l,
#extra-fields .btn-default-l {
  background: -webkit-gradient(linear, left top, left bottom, from(#2EB649), to(#0D3515));
  background: linear-gradient(180deg, #2EB649 0%, #0D3515 100%);
}

.sms-submit {
  color: #FFF;
  background-color: transparent;
  border: none;
  padding-top: 0px;
  margin: 10px 0px 0px 0px;
  display: block;
}

.infoText {
  width: 360px;
  height: auto;
  float: none;
  position: relative;
  top: 0px;
  display: block;
  padding: 5px;
  margin: 5px;
}

.cashierBtnInner {
  position: fixed;
  top: 410px;
  left: 770px;
  width: 100%;
  margin: 16px 0;
  position: static;
  float: none;
}

.show-bonus-code-txt {
  position: fixed;
  top: 430px;
  left: 770px;
  cursor: pointer;
  position: static;
}

#verify-code .cashierBtnOuter {
  left: 465px;
  top: 260px;
}

#verify-start .cashierBtnOuter {
  left: 465px;
  top: 260px;
}

.amount-label {
  display: none;
}

label[for$=_amount] {
  position: fixed;
  left: 730px;
  top: 275px;
}

input[name=amount] {
  position: fixed;
  left: 915px;
  top: 200px;
  width: 116px;
}

.cashierBoxInsert {
  padding: 20px 0;
  display: block;
}

.cashierInputLabel {
  width: 150px;
  font-weight: bold;
  margin: 8px 0;
}

.cashierBox, .noDepBox {
  height: 450px;
}

.noDepBox {
  display: block !important;
}

.cashierInput {
  left: 170px;
  width: 100%;
  border: 1px #9B8146 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
}

.infoArea {
  padding-top: 0px;
}

.cashier-expense {
  display: block;
  float: right;
}

.cashier-fee-list, .cashier-fee-list-right {
  width: 100%;
}

.cashier-fee-list-right {
  padding-left: 0;
  margin-top: 50px;
}

.cashier-fee-list {
  margin-bottom: 0px;
  padding: 0px;
  position: fixed;
  left: 775px;
  top: 265px;
  height: 0px;
}

.cashier-fee-list li, .cashier-fee-list-right li {
  list-style: none;
  padding-top: 5px;
}

.cashierSelect {
  width: 180px;
  left: 170px;
}

#cashierDepositWithdraw {
  width: 375px;
  background: #000;
  padding: 5px 20px 20px 20px;
}

.dc-quick-deposit {
  max-width: auto;
  margin-left: 0px;
}

.dc-quick-deposit .pad10 {
  padding: 0;
}

.quick-dep-select {
  padding: 10px;
  margin-bottom: 10px;
}

.cashier-minor-headline {
  /* autoprefixer: off */
  color: #FFF;
  font-weight: 400;
  padding: 4px;
  background: #211E1A;
  /* Old browsers */
  background: -moz-linear-gradient(top, #211E1A 0%, #211E1A 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #211E1A), color-stop(100%, #211E1A));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #211E1A 0%, #211E1A 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #211E1A 0%, #211E1A 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #211E1A 0%, #211E1A 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #211E1A 0%, #211E1A 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#211E1A", endColorstr="#211E1A",GradientType=0 );
  /* IE6-9 */
}

.cashierHeader {
  /* autoprefixer: off */
  border-radius: 5px 5px 0px 0px;
  color: #FFF;
  background: #0D0C0A;
  /* Old browsers */
  background: -moz-linear-gradient(top, #0D0C0A 0%, #0D0C0A 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0D0C0A), color-stop(100%, #0D0C0A));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0D0C0A 0%, #0D0C0A 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0D0C0A 0%, #0D0C0A 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0D0C0A 0%, #0D0C0A 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0D0C0A 0%, #0D0C0A 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#0D0C0A", endColorstr="#0D0C0A",GradientType=0 );
  /* IE6-9 */
}

.cashier-left-alt-pic {
  margin: 3px 2px 2px 2px;
  cursor: pointer;
}

.cashierHeader .closed {
  display: none;
}

.slideTrigger {
  cursor: default;
}

.cashier-left-content-wrap, .cashier-right-content-wrap {
  padding: 2px 10px 10px 10px;
}

.cashier-left-wrap, .cashier-right-wrap {
  padding: 0;
  width: 284px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cashier-middle-wrap-error .cashierBox {
  width: 400px;
}

.medium {
  width: 50px;
  width: 100%;
}

.small {
  width: 20px;
}

#pugglepay-verification, #pugglepay-authorize {
  padding: 0px 0px 20px 90px;
}

#msgBox {
  z-index: 100;
  position: fixed;
  top: 13px;
  left: 344px;
  height: 450px;
  width: 375px;
  background: #000;
}

#pugglepay-verification, #pugglepay-authorize {
  height: 235px;
  overflow-y: scroll;
}

#astroBoxInsert select {
  padding-top: 2px;
}

#astroBoxInsert select:focus {
  height: 30px !important;
  border: 1px solid #EFBC4C !important;
}

.banks-selector {
  width: 100%;
  overflow: hidden;
}

.b-selector {
  float: left;
  position: relative;
  display: block;
  width: 81px;
  height: 35px;
  margin: 0 7px 10px 0;
  cursor: pointer;
}

.b-selector input {
  visibility: hidden;
  position: absolute;
}

.b-selector.bank200 span {
  background-image: url(/file_uploads/alandsbanken-small.png);
}

.b-selector.bank231 span {
  background-image: url(/file_uploads/poppankki-small.png);
}

.b-selector.bank232 span {
  background-image: url(/file_uploads/aktia-small.png);
}

.b-selector.bank233 span {
  background-image: url(/file_uploads/saastopankki-small.png);
}

.b-selector.bank208 span {
  background-image: url(/file_uploads/skandia-small.png);
}

.b-selector.bank234 span {
  background-image: url(/file_uploads/s-pankki-small.png);
}

.b-selector.bank265 span {
  background-image: url(/file_uploads/sparbanken-small.png);
}

.b-selector.bank209 span {
  background-image: url(/file_uploads/swedbank-small.png);
}

.b-selector.bank207 span {
  background-image: url(/file_uploads/seb-small.png);
}

.b-selector.bank260 span {
  background-image: url(/file_uploads/lansforsakringar-small.png);
}

.b-selector.bank205 span {
  background-image: url(/file_uploads/handelsbanken-small.png);
}

.b-selector.bank216 span {
  background-image: url(/file_uploads/handelsbanken-small.png);
}

.b-selector.bank211 span {
  background-image: url(/file_uploads/nordea-small.png);
}

.b-selector.bank206 span {
  background-image: url(/file_uploads/nordea-small.png);
}

.b-selector.bank204 span {
  background-image: url(/file_uploads/danske-bank-small.png);
}

.b-selector.bank213 span {
  background-image: url(/file_uploads/op-pohjola-small.png);
}

.b-selector.bank600 span {
  background-image: url(/file_uploads/ideal-small.png);
}

.b-selector.bank240 span {
  background-image: url(/file_uploads/bankdeposit-small.png);
}

.b-selector.bank235 span {
  background-image: url(/file_uploads/omasp-small.png);
}

.b-selector.bankTrustly span {
  background-image: url(/file_uploads/trustly-small.png);
}

.b-selector.bankGiropay span {
  background-image: url(/file_uploads/giropay-small.png);
}

.b-selector.bankIdeal span {
  background-image: url(/file_uploads/ideal-small.png);
}

.b-selector.bankSofort span {
  background-image: url(/file_uploads/sofort-small.png);
}

.b-selector.bankEuteller span {
  background-image: url(/file_uploads/euteller-small.png);
}

.b-selector.bankInstadebit span {
  background-image: url(/file_uploads/instadebit-small.png);
}

.b-selector.bankUms span {
  background-image: url(/file_uploads/ums-small.png);
}

.b-selector.bankPoli span {
  background-image: url(/file_uploads/poli-small.png);
}

.b-selector.bankCitadel span {
  background-image: url(/file_uploads/citadel-small.png);
}

.b-selector.bankInterac span {
  background-image: url(/file_uploads/interac-small.png);
}

.b-selector.bankInteraconline span {
  background-image: url(/file_uploads/interaconline-small.png);
}

.b-selector.bankRapid span {
  background-image: url(/file_uploads/rapid-small.png);
}

.b-selector input:active + span, .b-selector input:active + span {
  opacity: 0.7;
}

.b-selector input:checked + span, .b-selector input:checked + span {
  -webkit-box-shadow: inset #60CC02 0px 0px 2px 3px;
  box-shadow: inset #60CC02 0px 0px 2px 3px;
  border: 0px solid black;
  border-radius: 5px;
}

.b-selector div {
  position: relative;
  z-index: 1;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 81px;
  height: 35px;
}

.b-selector span {
  position: relative;
  z-index: 1;
  display: block;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  width: 81px;
  height: 35px;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.b-selector:hover span {
  -webkit-filter: brightness(0.9) grayscale(0.9) opacity(0.9);
  -moz-filter: brightness(0.9) grayscale(0.9) opacity(0.9);
  filter: brightness(0.9) grayscale(0.9) opacity(0.9);
}

.amountInput {
  border: 2px #B89A54 solid;
  height: 30px;
  width: 115px;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 6px;
  margin-top: 0;
  height: 31px;
}

.cashier-middle-wrap {
  width: 284px;
  margin-top: 0;
  margin-left: 20px;
}

.cashier-right-wrap {
  margin-left: 20px;
}

.errors {
  color: #A33 !important;
}

.logo-select-border {
  -webkit-box-shadow: inset #B89A54 0px 0px 2px 4px;
          box-shadow: inset #B89A54 0px 0px 2px 4px;
  border: 0px solid black !important;
  border-radius: 8px !important;
  width: 87px;
  height: 41px;
  display: inline-block;
}

.standard-quick-deposit td {
  vertical-align: middle !important;
  font-weight: bold;
}

#deposit-cashier-box {
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}
#deposit-cashier-box::-webkit-scrollbar {
  width: 6px;
}
#deposit-cashier-box::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}
#deposit-cashier-box::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}