.notification_item {
  padding: 20px;
  margin-bottom: 10px;
  background-color: #352F29;
  border: none;
}

.notification_item-description {
  width: 280px;
}

.notification_item-date {
  width: 280px;
  margin: 10px 0px 0px 0px;
  font-size: 12px;
  color: #B89A54;
}

.notification_item-icon {
  float: right;
}

.simple-box img {
  padding: 0px;
}