[class*=promotion-partner__] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
[class*=promotion-partner__] h4, [class*=promotion-partner__] p {
  margin: 0;
  padding: 6px;
}

.promotion-partner__container, .promotion-partner__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.promotion-partner__container img, .promotion-partner__image-container img {
  width: 100%;
  vertical-align: baseline;
  -o-object-fit: cover;
     object-fit: cover;
}
.promotion-partner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}
.promotion-partner__content h3 {
  width: 55%;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  margin: 4px;
}
.promotion-partner__contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
}
.promotion-partner__contact-details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion-partner__contact-details--section {
  background-color: #202020;
  background-color: #14120F;
  padding: 22px 50px;
}
.promotion-partner__contact-details--section p {
  font-size: 14px;
  line-height: 18px;
  max-width: 420px;
}
.promotion-partner__contact-details--section h4 {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  padding-bottom: 12px;
}
.promotion-partner__participate-check-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  text-align: left;
  margin: 10px 130px;
  background-color: #202020;
  background-color: #14120F;
}
.promotion-partner__participate-check-info span {
  line-height: 14px;
}
.promotion-partner__term-condition {
  padding: 20px 0;
}
.promotion-partner__term-condition h4 {
  font-size: 14px;
  text-indent: -10px;
  color: #FFFFFF;
}
.promotion-partner__term-condition p {
  position: relative;
  padding-left: 5px;
  font-size: 12px;
  margin-bottom: 8px;
  font-weight: 400;
}
.promotion-partner__input-container {
  position: relative;
  display: block;
  margin: 10px 0;
  width: 100%;
}
.promotion-partner__input-container p {
  text-align: left;
  padding: 0;
}
.promotion-partner__input-container p a {
  color: #8E9091 !important;
}
.promotion-partner__custom-input {
  width: 100%;
  padding: 16px 16px 16px 15%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 18px;
  margin-top: 10px;
  color: #474747;
}
.promotion-partner__custom-input:focus {
  outline: none;
}
.promotion-partner__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion-partner__button {
  margin: 10px 0;
  font-size: 20px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 2px;
  height: 43px;
  width: 310px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B3935A), color-stop(19%, #FFD883), color-stop(29%, #FFE2AA), color-stop(42%, #E3B655), to(#CAA467));
  background: linear-gradient(180deg, #B3935A 0%, #FFD883 19%, #FFE2AA 29%, #E3B655 42%, #CAA467 100%);
  color: #251802 !important;
}
.promotion-partner__container-term-condition {
  padding: 20px 130px;
}
.promotion-partner__custom-line {
  border: 2px solid #9B8146 !important;
}
.promotion-partner__input-container.privacy-condition p {
  font-size: 10px !important;
  padding: 5px 0;
}

.custom-input__email {
  background-image: url("../../images/megariches/registration-icons/brand-email.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.custom-input__phone {
  background-image: url("../../images/megariches/registration-icons/brand-phone-icon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 15%;
}

#promotion-success-message {
  color: #B89A54;
  font-weight: bold;
}

.custom-input__country {
  background-color: #9B8146 !important;
  color: #FFF !important;
  width: 104px !important;
  padding: 16px 25px 16px 5px !important;
  background-image: url("../../images/megariches/registration-icons/expand_white.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  background-size: 16px 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.mobile-input-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}

.promotion-partner__participate-check-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion-partner__checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: normal;
}

.promotion-partner__checkbox-label input {
  width: 18px !important;
  height: 18px !important;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 11px;
}

/* Mobile css*/
@media only screen and (max-width: 768px) {
  .promotion-partner__contact-details {
    font-size: 16px;
    margin: 0;
    padding: 12px 18px;
  }
  .promotion-partner__contact-details--section {
    padding: 10px 20px;
  }
  .promotion-partner__contact-details--section p {
    font-size: 12px;
  }
  .promotion-partner__contact-details--section h4 {
    font-size: 16px;
  }
  .promotion-partner__participate-check-info {
    margin: 10px 8px;
    font-size: 10px;
  }
  .promotion-partner__content h3 {
    width: 80%;
    font-size: 16px;
    line-height: 22px;
    margin: 2px;
  }
  .promotion-partner__input-container {
    width: 100%;
  }
  .promotion-partner__custom-input {
    padding-left: 15%;
  }
  .promotion-partner__term-condition {
    padding: 10px 10px 10px 20px;
    color: #A0A0A0;
  }
  .promotion-partner__container-term-condition {
    padding: 20px 0 5px 0;
  }
  .promotion-partner__custom-line {
    margin: 0 10px 0 10px !important;
    border: 1px solid #9B8146 !important;
  }

  .custom-input__country {
    width: 75px !important;
    background-position: right 10px center;
  }
}