// .cashier-make-normal-wrapper
$cashier-make-normal-wrapper--width: 350px;

// .cashier-expense-min-label, .cashier-expense-max-label, .cashier-expense-min-value, .cashier-expense-max-value
$cashier-expense--color: #999;

// .ulBig
$ul-big-color: $white;

// .cashier-wrapper
$cashier-wrapper--width: 1067px;

// .cashier-help-table h3
$cashier-help-table-h3--color: $white;

// .cashier-help-table td
$cashier-help-table-td--color: #CCC;

// .cashier-predefined-amount
$cashier-predefined-amount--color: #888;
$cashier-predefined-amount--font-size: 24px;
$cashier-predefined-amount--width: 130px;

// .cashierBtnInner
$cashier-btn-inner--width: 265px;

//. cashierBoxInsert
$cashier-box-insert--padding: 20px 10px;

// .cashierInput
$cashier-input--width: 165px;

// .cashier-fee-list-right
$cashier-fee-list-right--width: 265px;
$cashier-fee-list-right--padding-left: 10px;

// .cashier-minor-headline
$cashier-minor-headline--color: $white;
$cashier-minor-headline--font-weight: bold;
$cashier-minor-headline--gradient-color-start: #565656;
$cashier-minor-headline--gradient-color-end: #000000;

// .cashierHeader
$cashier-header--border-radius: 0px;
$cashier-header--color: $white;

// .cashierHeader
$cashier-header--gradient-color-start: #565656;
$cashier-header--gradient-color-end: #000000;

// .cashier-left-alt-pic
$cashier-left-alt-pic--margin: 3px 5px 2px 3px;

// .cashier-left-wrap, .cashier-right-wrap
$cashier-left-wrap--padding: 5px;
$cashier-left-wrap--width: 310px;

// .amountInput
$amount-input--border: 1px solid #EFBC4C;
$amount-input--width: 123px;
$amount-input--box-shadow: inset 2px 2px 2px #888;

// .cashier-middle-wrap
$cashier-middle-wrap--width: 382px;
$cashier-middle-wrap--margin-top: 5px;
$cashier-middle-wrap--margin-left: 15px;

// .cashier-right-wrap
$cashier-right-wrap--margin-left: 15px;

// .logo-select-border
$logo-select-border--box-shadow: inset #60CC02 0px 0px 6px 8px;
$logo-select-border--border-radius: 4px !important;
