// .edit-profile-select-wrapper #preferred_lang
$edit-profile-select--border-color: #18723C; //#4F4F4F;

// .registerform input[type=text],
// .registerform input[type=tel],
// .registerform input[type=password]
$edit-profile-input--border-color: #18723C; //#4F4F4F;

// .edit-profile-submit-btn
$edit-profile-submit-btn--background: $primary-500;
