// .flex-control-nav a
$flex-control-nav-a--background: url("../../images/mrvegas/mobile/dot.png") no-repeat;

// .flex-control-nav a.flex-active
$flex-control-nav-a-active--background: url("../../images/mrvegas/mobile/current_dot.png") no-repeat;

// .flexslider-container
$flexslider-container--background: url("../../images/mrvegas/mobile/game_slider_bkg.jpg") repeat-x top;

// .big-flexslider-container
$big-flexslider-container--background: url("../../images/mrvegas/mobile/game_slider_bkg.jpg") repeat-x bottom;
