// .mobile-accountslip h3
$mobile-accountslip-h3--color: white;
$mobile-accountslip-h3--text-transform: uppercase;
$mobile-accountslip-h3--padding-left: 45px;

// .active-rewards-bg h3
$active-rewards-bg-h3--background: url('/diamondbet/images/mobile/gift-flat.png') no-repeat 50% 0;
$active-rewards-bg-h3--background-position: left 0px top 5px;
$active-rewards-bg-h3--background-size: 30px 30px;

// .latest-trophies-bg h3
$latest-trophies-bg-h3--background: url('/diamondbet/images/mobile/trophy-flat.png') no-repeat 50% 0;
$latest-trophies-bg-h3--background-position: left 0px top 5px;
$latest-trophies-bg-h3--background-size: 30px 30px;

// .view-more-mobile
$view-more-mobile--font-size: 14px;
$view-more-mobile--color: white;
$view-more-mobile--background-color: #929292;
$view-more-mobile--border-radius: 0;
$view-more-mobile--font-weight: inherit;
$view-more-mobile--line-height: inherit;

// .recent_account_history-mobile tr
$recent_account_history-mobile-tr--border-top: 1px solid #292929;

// .recent_account_history-mobile td
$recent_account_history-mobile-td--color: #a1a1a1;

// .recent_account_history-mobil h3
$recent_account_history-mobil-h3--font-weight: normal;