// .privacy-box-content--color
$privacy-box-content--color: $white;

// .privacy-box-header
$privacy-box-header--background-color: $primary-600;

// .privacy-moreinfo
$privacy-moreinfo--height: 10px;
$privacy-moreinfo--width: 10px;
$privacy-moreinfo--padding-left: 1px !important;

// .btn-privacy-no
$btn-privacy-no--background-color: #9D9B9C;
$btn-privacy-no--color: #646061 !important;

// .btn-privacy-yes
$btn-privacy-yes--background-color: #1d9e3c;

// .checkbox-group input
$checkbox-group-input--width: 10px;
$checkbox-group-input--height: 25px;

// .privacy-headline .account-headline
$privacy-headline-account-headline--font-size: 18px;

// .top-privacy-sub-box
$top-privacy-sub-box--background: #185231;

// .top-privacy-sub-box label
$top-privacy-sub-box-label--font-weight: bold;
$top-privacy-sub-box-label--font-size: 14px;
$top-privacy-sub-box-label--color: inherit;

// .opt-out-check
$opt-out-check--color: #b7b7b7;

// .account-privacy-info
$account-privacy-info--text-align: center;

// .privacy-confirm-box .privacy-confirm-icon
$privacy-confirm-icon--height: 0;
$privacy-confirm-icon--width: 0;
$privacy-confirm-icon--background: none;
$privacy-confirm-icon--margin: auto auto;

// .account-privacy-table th
$account-privacy-table-th--border-bottom-color: #2c2c2c;

// .account-privacy-table td
$account-privacy-table-td--border-bottom-color: #2c2c2c;
