// .winning-text-middle
$winning-text-middle--color: #FFF !important;

// .jp-info-text-color
$jp-info-text-color--color: #18723C;

// .jp-info-text
$jp-info-text--color: #18723C;

// .winText
$wintext--color: #208C4B;

// .modal-content:
$modal-content--background: $black;

// .fs-modal-content
$fs-modal-content--background-color: $black;

// .fs-modal-header
$fs-modal-header--background-color: #18723C;

// .fs-modal-body
$fs-modal-body--background-color: #000;

// .fs-modal-footer
$fs-modal-footer--background: $black;

// .modal-header
$modal-header--background-color: #18723C;

// .modal-body
$modal-body--background-color: #000;

// .modal-footer
$modal-footer--background: $black;

// .btn-profile, .btn-affirmative
$btn-profile-btn-affirmative--background: #18723C;

// .btn-homepage
$btn-homepage--background: #444;

// .win-text-header-top
$win-text-header-top--color: #208C4B;

// .winning-text
$winning-text--color: black;

// .w-a-btn-search:after
$w-a-btn-search-after--background: url("/diamondbet/images/mrvegas/search.png") center center no-repeat;

// .w-a-filter-label input[type="text"]:focus, .g-a-filter-label input[type="text"]:active
$w-a-filter-label-input--border-color: #18723C;