@charset "UTF-8";

.carousel {
  width: 9999px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.banner-cont {
  width: 590px;
  height: 274px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;

  .btn {
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      bottom: $banner-cont-btn--bottom;
      position: relative;

      @include custom-code(mrvegas) {
          height: 31px;
          width: 155px;
          box-shadow: 0 0 2px $black;
          font-size: 16px;
      }

      @include custom-code(megariches) {
          background: $secondary-gradient;
          border-radius: 4px;
      }

      @include custom-code(dbet) {
          background: $secondary-gradient;
          color: $white;
      }
  }
}

#fullFlashBox, .carousel li{
  width: 590px;
  height: 274px;
  // /*box-shadow: 0 0 6px 1px #000;*/
  overflow: hidden;

  @include custom-code(dbet) {
    img {
      min-height: 274px;
      aspect-ratio: 590 / 274;
    }
  }
}

.carousel li {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px;
}

#fullFlashBox {
  cursor: pointer;
}
