.cashierMsgBackBtn{
  position: fixed;
  top: 410px;
  left: 410px;
  width: 250px;
}

.cashierBoxInsert{
  font-size: 12px;
}

.icon_questionmark{
  left: 40px;
  top: -52px;
}

.cashier-make-normal-wrapper {
  position: fixed;
  top: 420px;
  left: 360px;
  width: $cashier-make-normal-wrapper--width;

  @include custom-code(megariches) {
    position: static;

    .btn-default-xl {
      background: $deposit-gradient;
    }
  }

  @include custom-code(dbet) {
    position: static;

    .btn-default-xl {
      background: $button-deposit;
    }
  }
}

#pugglepay-verification, #pugglepay-authorize{
  padding: 0 0 10px 25px !important;
  margin-top: 10px !important;
  position: relative;
  z-index: 100;
  height: 390px !important;

}

.cashier-expense-min-label,
.cashier-expense-max-label,
.cashier-expense-min-value,
.cashier-expense-max-value{
  font-size: 10px;
  color: $cashier-expense--color;
}

.expense-info{
    margin-left: 60px;
}

.ulBig {
  color: $ul-big-color;
}

.cashier-wrapper {
  width: $cashier-wrapper--width;

  @include custom-code(megariches) {
    padding: 20px 32px;
    box-sizing: border-box;
  }

  @include custom-code(dbet) {
    padding: 20px 32px;
    box-sizing: border-box;
  }
}

@include custom-code(kungaslottet) {
  #wrapper:has(.container-holder > .cashier-wrapper > .cashier2-layout-table),
  .cashier-box-inside-iframe > #wrapper {
      background: $mobile-background !important;
  }

  .cashier-box-inside-iframe > #wrapper > .container-holder > p {
      padding: 16px 32px;
  }
}

@include custom-code(megariches) {
  #wrapper:has(.container-holder > .cashier-wrapper > .cashier2-layout-table),
  .cashier-box-inside-iframe > #wrapper {
      background: $frame-600 !important;
  }
}

@include custom-code(dbet) {
  #wrapper:has(.container-holder > .cashier-wrapper > .cashier2-layout-table),
  .cashier-box-inside-iframe > #wrapper {
      background: $frame-600 !important;
  }
}

.cashier-help-table{
  position: fixed;
  top: 475px;
  left: 0px;
  padding-left: 5px;
  padding-right: 5px;

  @include custom-code(kungaslottet) {
    // .cashier-help-table tbody tr td:first-child > p
    tbody tr td:first-child > p {
      margin-left: 60px;
    }
  }

  @include custom-code(megariches) {
    position: static;

    // .cashier-help-table tbody tr td:first-child > p
    tbody tr td:first-child > p {
      margin-left: 48px;
    }
  }

  @include custom-code(dbet) {
    position: static;

    // .cashier-help-table tbody tr td:first-child > p
    tbody tr td:first-child > p {
      margin-left: 48px;
    }
  }
}

.cashier-help-table .w-40-pc{
  width: 145px;
}

.cashier-help-table .w-10-pc {
  width: 61px;
  @include custom-code(kungaslottet) {
    //.cashier-help-table .w-10-pc  img
    img {
      margin-left: 25px;
    }
  }

  @include custom-code(megariches) {
    //.cashier-help-table .w-10-pc  img
    img {
      margin-left: 25px;
    }
  }

  @include custom-code(dbet) {
    //.cashier-help-table .w-10-pc  img
    img {
      margin-left: 25px;
    }
  }
}

@include custom-code(mrvegas) {
  .cashier-help-table .w-10-pc > img {
    width: 55px;
    height: 44px;
  }
}


.cashier-help-table .help-live-chat{
  width: 182px;
}

.cashier-help-table h3{
  color: $cashier-help-table-h3--color;
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 10px;
}

.cashier-help-table td {
  color: $cashier-help-table-td--color;
  font-size: 10px;
}

.cashier-predefined-amount{
  background-color: #fff;
  border-radius: 4px;
  color: $cashier-predefined-amount--color;
  padding: 3px 0px 3px 0px;
  margin: 5px 5px 5px 5px;
  font-size: $cashier-predefined-amount--font-size;
  font-weight: bold;
  width: $cashier-predefined-amount--width;
  height: 30px;
  text-align: center;
  cursor: pointer;

  @include custom-code(kungaslottet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include custom-code(megariches) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include custom-code(dbet) {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $neutral-800;
  }
}

.gradient-text-default{
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.cashier-expense{
  font-weight: bold;
}

.cashier2-layout-table{
  margin-top: 0px;

  @include custom-code(megariches) {
    border-spacing: 0;

    td {
      padding: 0;
    }
  }

  @include custom-code(dbet) {
    border-spacing: 0;

    td {
      padding: 0;
    }
  }
}

.cashier2-layout-table td{
  vertical-align: top;
}

@include custom-code(megariches) {
  .dc_exp1,
  .dc_exp2 {
    width: 126px !important;
  }

  .dc_exp1 {
    margin-right: 8px;
  }

  .icon_questionmark {
    top: -66px;
    left: 32px;
  }

  #deposit-predefined-amounts-container {

    // #deposit-predefined-amounts-container table
    table {
      border-spacing: 0;

      // #deposit-predefined-amounts-container table tr > td
      tr > td {

        // #deposit-predefined-amounts-container table tr > td:first-child
        &:first-child {

          // #deposit-predefined-amounts-container table tr > td:first-child .cashier-predefined-amount
          .cashier-predefined-amount {
            margin: 0 7px 7px 0;
          }
        }

        // #deposit-predefined-amounts-container table tr > td:last-child
        &:last-child {

          // #deposit-predefined-amounts-container table tr > td:last-child .cashier-predefined-amount
          .cashier-predefined-amount {
            margin: 0;
          }
        }

        // #deposit-predefined-amounts-container table tr > td .gradient-default
        .gradient-default {
          background: $button-primary-light;
          text-shadow: none;
        }
      }
    }
  }

  #card-repeats,
  #extra-fields {
    .zebra-tbl {

      .zebra-header {
        border-bottom: 1px solid $frame-600;
      }

      tr {
        height: 36px;

        td {
          vertical-align: middle;
        }

        & > td:last-child {
          text-align: right;
        }
      }

      .odd {
        background-color: transparent;
      }
    }

    .btn-default-l {
      background: $deposit-gradient;
    }
  }
}

@include custom-code(dbet) {
  .dc_exp1,
  .dc_exp2 {
    width: 126px !important;
  }

  .dc_exp1 {
    margin-right: 8px;
  }

  .icon_questionmark {
    top: -66px;
    left: 32px;
  }

  #deposit-predefined-amounts-container {

    // #deposit-predefined-amounts-container table
    table {
      border-spacing: 0;

      // #deposit-predefined-amounts-container table tr > td
      tr > td {

        // #deposit-predefined-amounts-container table tr > td:first-child
        &:first-child {

          // #deposit-predefined-amounts-container table tr > td:first-child .cashier-predefined-amount
          .cashier-predefined-amount {
            margin: 0 7px 7px 0;
          }
        }

        // #deposit-predefined-amounts-container table tr > td:last-child
        &:last-child {

          // #deposit-predefined-amounts-container table tr > td:last-child .cashier-predefined-amount
          .cashier-predefined-amount {
            margin: 0;
          }
        }

        // #deposit-predefined-amounts-container table tr > td .gradient-default
        .gradient-default {
          background: $button-primary-light;
          text-shadow: none;
        }
      }
    }
  }

  #card-repeats,
  #extra-fields {
    .zebra-tbl {

      .zebra-header {
        border-bottom: 1px solid $frame-600;
      }

      tr {
        height: 36px;

        td {
          vertical-align: middle;
        }

        & > td:last-child {
          text-align: right;
        }
      }

      .odd {
        background-color: transparent;
      }
    }

    .btn-default-l {
      background: $button-deposit;
    }
  }
}

.sms-submit{
  color: #fff;
  background-color: transparent;
  border: none;
  padding-top: 0px;
  margin: 10px 0px 0px 0px;
  display: block;
}

.infoText {
  width: 360px;
  height: auto;
  float: none;
  position: relative;
  top: 0px;
  display: block;
  padding: 5px;
  margin: 5px;
}

.cashierBtnInner{
    position: fixed;
    top: 410px;
    left: 770px;
    width: $cashier-btn-inner--width;

    @include custom-code(megariches) {
      margin: 16px 0;
      position: static;
      float: none;
    }

    @include custom-code(dbet) {
      margin: 16px 0;
      position: static;
      float: none;
    }
}

.show-bonus-code-txt{
    position: fixed;
    top: 430px;
    left: 770px;
    cursor: pointer;

    @include custom-code(megariches) {
      position: static;
    }

    @include custom-code(dbet) {
      position: static;
      color: $neutral-900;
      font-weight: bold;;
    }
}

// /* TODO fix this, the SMS button*/
#verify-code .cashierBtnOuter{
  left: 465px;
  top: 260px;
}

#verify-start .cashierBtnOuter{
  left: 465px;
  top: 260px;
}

.amount-label{
  display: none;
}

label[for$="_amount"]{
  position: fixed;
  left: 730px;
  top: 275px;
}

input[name="amount"] {
  position: fixed;
  left: 915px;
  top: 200px;
  width: 116px;
}


.cashierBoxInsert {
  padding: $cashier-box-insert--padding;
  display: block;
}

.cashierInputLabel {
  width: 150px;
  font-weight: bold;

  @include custom-code(megariches) {
    margin: 8px 0;
  }

  @include custom-code(dbet) {
    margin: 8px 0;
    color: $neutral-900;
  }
}

.cashierBox, .noDepBox{
  height: 450px;
  @include custom-code(kungaslottet) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.noDepBox{
  display: block !important;
}

.cashierInput {
  left: 170px;
  width: $cashier-input--width;

  @include custom-code(kungaslottet) {
    border-radius: 2px;
    border: 1px $main-color solid;
    box-shadow: none;
  }

  @include custom-code(megariches) {
    border: 1px $primary-600 solid;
    box-sizing: border-box;
    height: 40px;
  }

  @include custom-code(dbet) {
    box-sizing: border-box;
    height: 40px;

    //.cashierInput:focus
    &:focus {
      height: 40px;
    }
  }
}

.infoArea{
  padding-top: 0px;
}

.cashier-expense{
  display: block;
  float: right;

  @include custom-code(dbet) {
    color: $neutral-900;
  }
}

.cashier-fee-list, .cashier-fee-list-right{
  width: $cashier-fee-list-right--width;
}

.cashier-fee-list-right {
    padding-left: $cashier-fee-list-right--padding-left;
    margin-top: 50px;
}

.cashier-fee-list{
  margin-bottom: 0px;
  padding: 0px;
  position: fixed;
  left: 775px;
  top: 265px;
  height: 0px;
}

.cashier-fee-list li, .cashier-fee-list-right li{
  list-style: none;
  padding-top: 5px;
}

.cashierSelect {
  width: 180px;
  left: 170px;
}

#cashierDepositWithdraw{
  width: 375px;
  background: #000;
  padding: 5px 20px 20px 20px;
}

.dc-quick-deposit {
  max-width: auto;
  margin-left: 0px;
}

.dc-quick-deposit .pad10{
  padding: 0;
}

.quick-dep-select{
  padding: 10px;
  margin-bottom: 10px;
}

.cashier-minor-headline{
  /* autoprefixer: off */
  color: $cashier-minor-headline--color;
  font-weight: $cashier-minor-headline--font-weight;
  padding: 4px;
  background: $cashier-minor-headline--gradient-color-start; /* Old browsers */
  background: -moz-linear-gradient(top,  $cashier-minor-headline--gradient-color-start 0%, $cashier-minor-headline--gradient-color-end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$cashier-minor-headline--gradient-color-start), color-stop(100%,$cashier-minor-headline--gradient-color-end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $cashier-minor-headline--gradient-color-start 0%,$cashier-minor-headline--gradient-color-end 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $cashier-minor-headline--gradient-color-start 0%,$cashier-minor-headline--gradient-color-end 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $cashier-minor-headline--gradient-color-start 0%,$cashier-minor-headline--gradient-color-end 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $cashier-minor-headline--gradient-color-start 0%,$cashier-minor-headline--gradient-color-end 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$cashier-minor-headline--gradient-color-start}', endColorstr='#{$cashier-minor-headline--gradient-color-end}',GradientType=0 ); /* IE6-9 */

  @include custom-code(kungaslottet) {
    border-radius: 5px 5px 0px 0px;
  }
}

.cashier-psp-items {
  @include custom-code(dbet) {
    background: $white;
    margin-bottom: 8px;
  }
}

.cashierHeader{
  /* autoprefixer: off */
  border-radius: $cashier-header--border-radius;
  color: $cashier-header--color;
  background: $cashier-header--gradient-color-start; /* Old browsers */
  background: -moz-linear-gradient(top,  $cashier-header--gradient-color-start 0%, $cashier-header--gradient-color-end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$cashier-header--gradient-color-start), color-stop(100%,$cashier-header--gradient-color-end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $cashier-header--gradient-color-start 0%,$cashier-header--gradient-color-end 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $cashier-header--gradient-color-start 0%,$cashier-header--gradient-color-end 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $cashier-header--gradient-color-start 0%,$cashier-header--gradient-color-end 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $cashier-header--gradient-color-start 0%,$cashier-header--gradient-color-end 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$cashier-header--gradient-color-start}', endColorstr='#{$cashier-header--gradient-color-end}',GradientType=0 ); /* IE6-9 */
}

.cashier-left-alt-pic {
    margin: $cashier-left-alt-pic--margin;
    cursor: pointer;
    @include custom-code(kungaslottet) {
        border-radius: 8px;
    }
}

.cashierHeader .closed{
  display: none;
}

.slideTrigger{
  cursor: default;
}

.cashier-left-content-wrap, .cashier-right-content-wrap{
  padding: 2px 10px 10px 10px;
}

.cashier-left-wrap, .cashier-right-wrap {
  padding: $cashier-left-wrap--padding;
  width: $cashier-left-wrap--width;

  @include custom-code(megariches) {
    box-sizing: border-box;
  }

  @include custom-code(dbet) {
    box-sizing: border-box;
  }
}

.cashier-middle-wrap-error .cashierBox{
  width: 400px;
}

//.cashier-middle-wrap .cashierBox{
//  display: none;
//}

.medium{
  width: 50px;

  @include custom-code(megariches) {
    width: 100%;
  }

  @include custom-code(dbet) {
    width: 100%;
  }
}

.small{
  width: 20px;
}

#pugglepay-verification, #pugglepay-authorize{
  padding: 0px 0px 20px 90px;
}


#msgBox{
  z-index: 100;
  position: fixed;
  top: 13px;
  left: 344px;
  height: 450px;
  width: 375px;
  background: #000;
}

#pugglepay-verification, #pugglepay-authorize{
  height: 235px;
  overflow-y: scroll;
}

#astroBoxInsert select{
  padding-top: 2px;
}

#astroBoxInsert select:focus{
  height: 30px !important;
  border: 1px solid #EFBC4C !important;
}


// /* banks list for deposit box */

.banks-selector {
  width: 100%;
  overflow: hidden;
}

.b-selector {
    float: left;
    position: relative;
    display: block;
    width: 81px;
    height: 35px;
    margin: 0 7px 10px 0;
    cursor: pointer;
}

.b-selector input{
  visibility: hidden;
  position: absolute;
  ///*
  //z-index:2 ;
  //left: 0px; top: 0px;
  //*/
}

.b-selector.bank200 span {background-image:url(/file_uploads/alandsbanken-small.png);}
.b-selector.bank231 span {background-image:url(/file_uploads/poppankki-small.png);}
.b-selector.bank232 span {background-image:url(/file_uploads/aktia-small.png);}
.b-selector.bank233 span {background-image:url(/file_uploads/saastopankki-small.png);}
.b-selector.bank208 span {background-image:url(/file_uploads/skandia-small.png);}
.b-selector.bank234 span {background-image:url(/file_uploads/s-pankki-small.png);}
.b-selector.bank265 span {background-image:url(/file_uploads/sparbanken-small.png);}
.b-selector.bank209 span {background-image:url(/file_uploads/swedbank-small.png);}
.b-selector.bank207 span {background-image:url(/file_uploads/seb-small.png);}
.b-selector.bank260 span {background-image:url(/file_uploads/lansforsakringar-small.png);}
.b-selector.bank205 span {background-image:url(/file_uploads/handelsbanken-small.png);}
.b-selector.bank216 span {background-image:url(/file_uploads/handelsbanken-small.png);}
.b-selector.bank211 span {background-image:url(/file_uploads/nordea-small.png);}
.b-selector.bank206 span {background-image:url(/file_uploads/nordea-small.png);}
.b-selector.bank204 span {background-image:url(/file_uploads/danske-bank-small.png);}
.b-selector.bank213 span {background-image:url(/file_uploads/op-pohjola-small.png);}
.b-selector.bank600 span {background-image:url(/file_uploads/ideal-small.png);}
.b-selector.bank240 span {background-image:url(/file_uploads/bankdeposit-small.png);}
.b-selector.bank235 span {background-image:url(/file_uploads/omasp-small.png);}

.b-selector.bankTrustly span {background-image:url(/file_uploads/trustly-small.png);}
.b-selector.bankGiropay span {background-image:url(/file_uploads/giropay-small.png);}
.b-selector.bankIdeal span {background-image:url(/file_uploads/ideal-small.png);}
.b-selector.bankSofort span {background-image:url(/file_uploads/sofort-small.png);}
.b-selector.bankEuteller span {background-image:url(/file_uploads/euteller-small.png);}
.b-selector.bankInstadebit span {background-image:url(/file_uploads/instadebit-small.png);}
.b-selector.bankUms span {background-image:url(/file_uploads/ums-small.png);}
.b-selector.bankPoli span {background-image:url(/file_uploads/poli-small.png);}
.b-selector.bankCitadel span {background-image:url(/file_uploads/citadel-small.png);}
.b-selector.bankInterac span {background-image:url(/file_uploads/interac-small.png);}
.b-selector.bankInteraconline span {background-image:url(/file_uploads/interaconline-small.png);}
.b-selector.bankRapid span {background-image:url(/file_uploads/rapid-small.png);}

.b-selector input:active + span, .b-selector input:active + span {opacity: .7;}
.b-selector input:checked + span, .b-selector input:checked + span {

  -moz-box-shadow: inset #60cc02 0px 0px 2px 3px;
  -webkit-box-shadow: inset #60cc02 0px 0px 2px 3px;
  box-shadow: inset #60cc02 0px 0px 2px 3px;

  border: 0px solid black;
  border-radius: 5px;
}

.b-selector div {
  position: relative;
  z-index: 1;
  display: block;
  background-size: contain;
  background-repeat:no-repeat;
  float: left;
  width:81px;height:35px;
}

.b-selector span {
  position: relative;
  z-index: 1;
  display: block;
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  float: left;
  width:81px;height:35px;
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.b-selector:hover span{
  -webkit-filter: brightness(.9) grayscale(.9) opacity(.9);
  -moz-filter: brightness(.9) grayscale(.9) opacity(.9);
  filter: brightness(.9) grayscale(.9) opacity(.9);
}

.amountInput {
  border: $amount-input--border;
  height: 30px;
  width: $amount-input--width;
  border-radius: 5px;
  box-shadow: $amount-input--box-shadow;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 6px;

  @include custom-code(megariches) {
    margin-top: 0;
    height: 31px;
  }

  @include custom-code(dbet) {
    margin-top: 0;
    height: 31px;
  }
}

.cashier-middle-wrap{
    width: $cashier-middle-wrap--width;
    margin-top: $cashier-middle-wrap--margin-top;
    margin-left: $cashier-middle-wrap--margin-left;
}

.cashier-right-wrap{
    margin-left: $cashier-right-wrap--margin-left;
}

.errors{
    color: #a33 !important;
}

.logo-select-border{
    box-shadow: $logo-select-border--box-shadow;
    border: 0px solid black !important;
    border-radius: $logo-select-border--border-radius;
    width: 87px;
    height: 41px;
    display: inline-block;
}

.standard-quick-deposit td{
    vertical-align: middle !important;
    font-weight: bold;
}

#deposit-cashier-box {
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: $black;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 10px;
    }
}
