.edit-profile-select-wrapper {
    #preferred_lang {
        -webkit-appearance: none;
        display: flex;
        width: 100%;
        height: 28px;
        padding: 4px 8px;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        border: 1px solid $edit-profile-select--border-color;
        background-color: $white;
        color: #474747;
        @media screen and (min-width: 768px) {
            width: 200px;
        }
    }

    position: relative;
    display: flex;

    &::after {
        content: "";
        font-family: "videoslots-font";
        position: absolute;
        top: 9px;
        right: 0px;
        display: block;
        font-size: 10px;
        color: $black;
        pointer-events: none;
        width: 20px;
        height: 20px;
    }
}

.edit-profile-terms__empty-data {
    width: 35%;
}

.edit-profile-terms__btn-data {
    width: 100%;
    padding-right: 19px;
    @media screen and (min-width: 768px){
        width: 65%;
    }
}

.edit-profile-terms__btn-input {
    width: 201px;
}


.registerform input[type="text"],
.registerform input[type="tel"],
.registerform input[type="password"],
.registerform .regform-field {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100% !important;
    height: 28px;
    padding: 6px 8px;

    border-radius: 5px;
    border: 1px solid $edit-profile-input--border-color;
    background-color: #FFF;
    box-sizing: border-box;

    color: #474747;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width: 768px) {
        width: 200px !important;
    }
}

.simple-box.personal-info-box,
.simple-box.contact-info-box,
.simple-box.account-info-box,
.simple-box.account-security-box,
.simple-box.term-and-condition-box {
    margin-top: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
}

.simple-box.personal-info-box {
    margin-top: 0;
}

.simple-box .section-title {
    margin: 0 0 10px;
}

.registerform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    .select-option {
        margin: 0 0 8px;
        width: 100%;

        @media screen and (min-width: 768px){
            width: auto;
        }
    }

    .update-button {
        width: 100%;

        input[type=submit] {
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 200px;
            }
        }
    }
    input[type="checkbox"] {
        margin: 0;
        cursor: pointer;
        box-shadow: none;
    }

    p {
        margin: 0 0 2px 0;
    }
}

.personal-info-item {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.edit-profile-submit-btn {
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $edit-profile-submit-btn--background;

    @media screen and (min-width: 768px){
        width: 200px;
    }
}

.registerform.contact-info-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: 768px){
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px 24px;
        justify-content: flex-start;
    }
}

// .registerform.account-security-section
.registerform.account-security-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.registerform.account-info-section,
.registerform .account-info {

    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px 24px;
        justify-content: flex-start;
        width: auto;
    }

    .account-info-item {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    @media screen and (min-width: 768px) {
        .account-info-item:first-child {
            margin-right: 50%;
        }
    }
}


.simple-box .registerform .account-info-item ,
.simple-box .registerform .contact-info-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    @media screen and (min-width: 768px) {
        width: auto;
    }
}

.simple-box .registerform .contact-info-description-item {
    width: 100%;
}


/* copied it from all.scss just to update checkbox only inside edit profile.
need to be deleted when updated checkbox is available all places
*/
input {
    vertical-align: middle;
    color: $black;

    // input[type="checkbox"]
    &[type="checkbox"] {
        appearance: none;
        border: 1px solid $primary-600;
        border-radius: 5px;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        position: relative;
        background: $white;

        // input[type="checkbox"]:checked
        &:checked {
            background: $primary-500;
            color: white;


            // input[type="checkbox"]:checked:before
            &:before {
                content: "";
                position: absolute;
                top: 1px;
                left: 5px;
                width: 4px;
                height: 9px;
                color: white;
                border: solid white;
                border-width: 0 2px 2px 0;
                display: block;
                transform: rotate(45deg);
            }
        }
    }
}


#edit-profile-form {
    #email[disabled],
    #mobile[disabled],
    #city[disabled],
    #zipcode[disabled],
    #address[disabled],
    #building[disabled],
    #main_province[disabled] {
        color: #5E5E5E;
        border: 1px solid #5E5E5E;
        background: #808080;
        pointer-events: none;
        opacity: 1;
    }

    [name="submit_contact_info"] {
        display: none;
    }
}

#validate_contact_info {
    margin-top: 10px;
}

#validate_contact_info[disabled] {
    cursor: not-allowed;
    background-color: grey;
}

//.edit-profile__contact-info-description {
//    padding: 10px 0;
//}

// Edit Profile validation code popup
#edit_profile_validation_code_popup {
    .lic-mbox-title {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .lic-mbox-header {
        height: 55px;
    }

    .lic-mbox-close-box {
        top: 20px;
    }

    .edit-profile-validation-code__body {
        margin-bottom: 10px
    }

    .edit-profile-validation-code__label {
        margin-bottom: 10px;
        text-align: left;
        width: 100%;
        display: block;
    }

    .edit-profile-validation-code__input-wrapper {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
    }

    .edit-profile-validation-code__input {
        flex-grow: 1;
        border: 1px solid grey;
        padding: 8px;
    }

    .edit-profile-validation-code__resend {
        height: auto;
    }

    .edit-profile-validation-code__info {
        font-size: 14px;
        color: $main-color;
    }

    .edit-profile-validation-code__error {
        font-size: 12px;
        text-align: left;
    }

    .edit-profile-validation-code__submit {
        height: 36px;
    }
}

// Edit Profile success popup
.edit-profile-success-popup .btn {
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 9px 20px;
}
