.gch-left {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 1px;

    div {
        width: 100%;
    }
}

.gch-right {
    width: 100%;
    margin-left: 0px;
}

#search_payout {
    width: calc(100% - 20px);
    border: $search_payout--border;
    height: 25px;
    padding: 10px 10px;
    margin-bottom: 6px;
    font-size: 14px;
    border-radius: $search_payout--border-radius;
}

.search-bar .icon-vs-search:before {
    top: 45%;
}

.gch-right-top .gch-txt {
    margin-left: 14px;
}

.gch-right-top {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    height: auto;
}

.gch-payout-top2 .gch-item {
    margin-left: 0px;

    @include custom-code(dbet) {
        //.gch-payout-top2 .gch-item .sbToggle:after
        .sbToggle:after {
            border-left: none;
            padding-left: 0px;
            height: 26px;
        }
    }
}

.game-payout-row {
    border: $game-payout-row--border;
    background: $game-payout-row--background;
    border-radius: 0px;
    display: flex;
}

.game-payout-first {
    width: $game-payout-first--width;
}

.game-payout-middle {
    display: flex;
    flex-direction: column;
    width: $game-payout-middle--width;
    padding: $game-payout-middle--padding;
    text-align: center;
    align-items: center;
    justify-content: $game-payout-middle--justify-content;
}

.game-payout-middle div {
    width: 100%;
}

.game-payout-middle .headline-default-m {
    font-size: $game-payout-middle-headline-default-m--font-size;
    margin-top: 0px;
    margin-bottom: $game-payout-middle-headline-default-m--margin-bottom;
    color: $game-payout-middle-headline-default-m--color;
}

.game-payout-last {
    display: flex;
    width: $game-payout-last--width;
    padding: $game-payout-last--padding;
}

.game-payout-last-left {
    width: $game-payout-last-left--width;
    display: flex;
    flex-direction: column;
    justify-content: $game-payout-last-left--justify-content;
    align-items: $game-payout-last-left--align-items;
}

.game-payout-last-right {
    padding: $game-payout-last-right--padding;
    width: $game-payout-last-right--width;
    display: flex;
    flex-direction: column;
    justify-content: $game-payout-last-right--justify-content;
    align-items: center;
}

.game-payout-first img {
    width: $game-payout-first-img--width;
    height: 65px;
}

.headline-default-m {
    font-size: 14px;
    @include custom-code(kungaslottet) {
        color: $primary-500;
    }
    @include custom-code(dbet) {
        color: $primary-500;
    }
}

.headline-default-xl-mobile {
    color: $headline-default-xl-mobile--color;
    font-weight: bold;
    font-size: $headline-default-xl-mobile--font-size;
    margin: $headline-default-xl-mobile--margin;
}

.game-payout-last-right img {
    width: $game-payout-last-right-img--width;
    margin-left: $game-payout-last-right-img--margin-left;
    margin-bottom: 5px;
}

.header-small-mobile {
    color: $header-small-mobile--color;
    text-decoration: none;
    font-size: $header-small-mobile--font-size;
    font-weight: $header-small-mobile--font-weight;
    text-align: left;
    line-height: $header-small-mobile--line-height;
}

span.header-small-mobile {
    font-size: 6px;
    font-weight: bold;
    color: $span-header-small-mobile--color;
}

.view-more-mobile {
    height: 16px;
    padding: 12px;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: $view-more-mobile--background-color;
    cursor: pointer;
    border-radius: $view-more-mobile--border-radius;
    font-weight: $view-more-mobile--font-weight;
}

.game-payout-middle .mobile-play-button {
    font-size: 10px !important;
    width: $game-payout-middle-mobile-play-button--width;
    height: $game-payout-middle-mobile-play-button--height;
}

.game-payout-last .header-small {
    font-size: $game-payout-last-header-small--font-size;
    margin-top: $game-payout-last-header-small--margin-top;
}

// /* Overriding css from jquery selectbox */

.gch-item .sbMediumHolder, .gch-item .sbSmallHolder {
    background: white;
    margin-bottom: 5px;
}

.gch-item .sbHolder {
    background: white;
}

.gch-item:nth-of-type(1), .gch-item:nth-of-type(2) {
    width: calc(50% - 3px);
}

.gch-item:nth-of-type(3) {
    width: calc(40% - 3px);
}

.gch-item:nth-of-type(4) {
    width: calc(25% - 6px);
}

.gch-item:nth-of-type(5) {
    width: calc(35% - 3px);
}

.gch-item .sbOptions {
    background: white;
}

.gch-item .sbHolder, .gch-item .sbSmallHolder {
    width: calc(100% - 20px);
    padding: 10px 10px;
    border: $gch-item-sbHolder--border;
    border-radius: $gch-item-sbHolder--border-radius;
}

.sbSelector, .sbToggle {
    height: 48px;
    line-height: 48px;
    @include custom-code(dbet) {
        color: $neutral-700 !important;
    }
}

.sbToggle::after {
    content: $sbtoggle-after--content;
    position: absolute;
    left: $sbtoggle-after--left;
    display: block;
    width: 30px;
    line-height: 48px;
    text-align: left;
    color: $sbtoggle-after--color;
    font-family: 'videoslots-font';
}

.gch-item .sbToggle {
    background: none;
}

.gch-item .sbHolder, .gch-item .sbSmallHolder, .gch-item .sbMediumHolder {
    font-size: 14px;
    font-weight: normal;
}

.gch-item .sbOptions {
    width: 180px;
    background: white;
    top: 46px !important;
}

.gch-item .sbSmallOptions {
    width: 117px;
    background: white;
    top: 46px !important;
}

.sbOptions a, .sbSmallOptions a, .sbMediumOptions a {
    padding: 15px 0 15px 3px;
}

.gch-right-top.gch-payout-top2 .gch-item:nth-of-type(3) .sbSmallOptions {
    width: 147px;
}

.gch-right-top.gch-payout-top2 .gch-item:nth-of-type(4) .sbSmallOptions {
    width: 87px;
}

.gch-right-top.gch-payout-top2 .gch-item:nth-of-type(5) .sbSmallOptions {
    width: 117px;
}

.sbHolder .sbSelector {
    width: 180px;
}

.sbSmallHolder .sbSelector {
    width: 118px;
}
