body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  color: inherit;
  text-decoration: inherit;
}

.gradient-normal {
  background: #333333;
  background: linear-gradient(to bottom, #333333 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
}

.responsive-iframe-fix {
  height: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 0;
}

#vs-sticky-bar {
  box-sizing: border-box;
  z-index: 2000;
}

@media screen and (orientation: portrait) {
  #vs-sticky-bar {
    height: 24px;
    padding: 2px 10px;
    color: #ffffff;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (orientation: landscape) {
  #vs-sticky-bar {
    position: relative;
    width: 24px;
    height: 100%;
    border-right: 1px solid #555555;
    overflow: hidden;
    float: left;
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.vs-sticky-bar__content {
  font-size: 12px;
  display: flex;
  align-items: baseline;
}

@media screen and (orientation: portrait) {
  .vs-sticky-bar__content {
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media screen and (orientation: portrait) and (max-width: 308px) {
  .vs-sticky-bar__content {
    font-size: 11px;
  }
}

@media screen and (orientation: landscape) {
  .vs-sticky-bar__content {
    color: #eee;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    padding-left: 10px;
    font-size: 12px;
  }
}

.vs-button-home {
  display: none;
  font-size: 16px;
}

@media screen and (orientation: portrait) {
  .vs-button-home {
    margin-left: 6px;
  }
}

@media screen and (orientation: portrait) and (max-width: 260px) {
  .vs-button-home {
    margin-left: 6px;
  }
}

@media screen and (orientation: landscape) {
  .vs-button-home {
    margin-right: 6px;
  }
}

.vs-timer {
  display: inline-flex;
  align-items: center;
}

.vs-clock-icon {
  margin-right: 4px;
}

.vs-sticky-bar__images {
  display: flex;
  align-items: center;
}

@media screen and (orientation: landscape) {
  .vs-sticky-bar__images {
    max-height: 350px;
    flex: 0 0 75%;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .vs-sticky-bar__images {
    padding-top: 35px;
    max-height: 200px;
  }
}

@media screen and (orientation: portrait) {
  .vs-sticky-bar__images a:nth-child(2) {
    margin-left: 1px;
  }
}

@media screen and (orientation: landscape) {
  .vs-sticky-bar-vertical__small .vs-sticky-bar__images {
    flex: 0 0 70%;
  }
}

.vs-sticky-bar__image {
  max-height: 20px;
}

@media screen and (orientation: portrait) {
  .vs-sticky-bar__image {
    margin-left: 3px;
    margin-top: -3px;
  }
}

@media screen and (orientation: portrait) and (max-width: 320px) {
  .vs-sticky-bar__image {
    height: 22px;
  }
}

@media screen and (orientation: portrait) and (max-width: 308px) {
  .vs-sticky-bar__image {
    max-height: 18px;
  }
}

@media screen and (orientation: portrait) and (max-width: 260px) {
  .vs-sticky-bar__image {
    max-height: 16px;
  }
}

@media screen and (orientation: landscape) {
  .vs-sticky-bar__image {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@media screen and (orientation: landscape) and (max-height: 320px) {
  .vs-sticky-bar__image {
    max-height: 20px;
  }
}

@media screen and (orientation: landscape) and (max-height: 360px) {
  .vs-sticky-bar__image {
    max-height: 20px;
  }
}

@media screen and (orientation: landscape) {
  .vs-sticky-bar-vertical__small .vs-sticky-bar__image {
    max-height: 16px;
  }
}

#vs-game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch !important;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: rotate3d(0, 0, 0);
          transform: rotate3d(0, 0, 0);
}

#vs-game-container__iframe {
  border: none;
  outline: none;
}

@media screen and (orientation: landscape) {
  #vs-game-container__iframe {
    display: inline-block;
    float: left;
  }
}

#vs-game-mode-overlap {
  height: 1px;
  width: 100%;
  background: #111;
}

#vs-fullscreen-button {
  position: absolute;
  top: 0;
  left: 8;
  display: none;
}

.scroll-up-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100000px;
  box-sizing: border-box;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

@media screen and (orientation: portrait) {
  .scroll-up-background {
    top: 24px;
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  .scroll-up-background {
    left: 24px;
    width: calc(100% - 24px);
  }
}

.fullscreen .scroll-up-background {
  visibility: hidden;
}

.scroll-up-background-symbol {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  font-size: 100px;
  box-sizing: border-box;
}

.fa-hand-point-up {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  color: white;
  -webkit-animation: MoveUpDown 2s linear infinite;
          animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
}

@media screen and (orientation: portrait) {
  @-webkit-keyframes MoveUpDown {
    0%, 100% {
      bottom: 40%;
    }
    50% {
      bottom: 60%;
    }
  }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 40%;
    }
    50% {
      bottom: 60%;
    }
  }
}

@media screen and (orientation: landscape) {
  @-webkit-keyframes MoveUpDown {
    0%, 100% {
      bottom: 30%;
    }
    50% {
      bottom: 50%;
    }
  }
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 30%;
    }
    50% {
      bottom: 50%;
    }
  }
}

.fullscreen .scroll-up-background-symbol {
  display: none;
}

.logged-in-time {
  color: #aaa;
  margin-left: 4px;
  display: flex;
}

.logged-in-time .logged-in-time__icon {
  float: left;
  height: 15px;
  display: inline-flex;
  margin-right: 4px;
}

.logged-in-time .logged-in-time__time {
  float: left;
  display: inline-flex;
  margin-left: 6px;
}

.logged-in-time .logged-in-time__time--label {
  float: left;
  margin-right: 10px;
  margin-top: 1px;
}

.logged-in-time .digital-clock {
  margin-top: 5px;
  padding: 0 0 0 10px;
  display: flex;
  float: left;
}

.logged-in-time .digital-full-clock {
  display: flex;
  float: left;
  margin: 0;
  padding: 0;
}

.logged-in-time .digital-full-clock li {
  font-size: 12px;
  margin-top: 1px;
}

.logged-in-time .digital-clock li,
.logged-in-time .digital-full-clock li {
  display: flex;
  list-style: none;
  float: left;
  font-size: 12px;
}

.scrolling-disabled {
  position: fixed;
  width: 100%;
  height: 100%;
}
