.gch-left {
    width: 470px;
}

#search_payout {
    width: 449px;
}

.gch-item .sbHolder {
    width: 210px;
}

.gch-item .sbSmallHolder {
    width: 130px;
    padding: 10px 10px;
}

.gch-item .sbOptions {
    width: 230px;
}

.gch-item .sbSmallOptions {
    width: 150px;
}