.rewards-popup-holder {
  width: 680px;
  padding: 0px 10px 10px 10px;
  float: left;

  @include custom-code(megariches) {
    background: $frame-1000;

    .popup-msg-area {
      background: $frame-600 !important;
      border: none !important;
      border-radius: 0;
    }
  }

  @include custom-code(dbet) {
    background: $frame-1000;

    .popup-msg-area {
      color: $neutral-900;
      background: $frame-600 !important;
      border: none !important;
      border-radius: 0;
    }
  }
}

.bonus-expire-date {
  @include custom-code(dbet) {
    color: $primary-500;
  }
}

.rewards-popup-holder .simple-box:first-child {
  width: 658px !important;
}

.rewards-popup-holder .rewards-middle-box {
  width: 678px !important;
  height: auto !important;

  @include custom-code(megariches) {
    background: $frame-600 !important;
    border: none !important;
  }
}

.popup-msg-area {
  /* autoprefixer: off */
  border-radius: 4px;
  height: 40px;
  width: 660px;
  border: 1px solid #333;
  padding: 10px;
  background: #3a3a3a; // /* Old browsers */
  background: -moz-linear-gradient(top, #3a3a3a 0%, #000000 100%); // /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a3a3a), color-stop(100%, #000000)); // /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3a3a3a 0%, #000000 100%); // /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3a3a3a 0%, #000000 100%); // /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3a3a3a 0%, #000000 100%); // /* IE10+ */
  background: linear-gradient(to bottom, #3a3a3a 0%, #000000 100%); // /* W3C */
  float: left;
  margin-top: 10px;
}

.rewards-close-holder {
  width: 700px;
  text-align: center;
  float: left;
}

.rewards-close-holder .btn {
  display: inline;
  margin-top: 10px;
}
