$placeholder-color: #FF00FF;
$placeholder-gradient: linear-gradient($placeholder-color, white);

// primary colors
$primary-50: $placeholder-color;
$primary-100: $placeholder-color;
$primary-200: $placeholder-color;
$primary-300: $placeholder-color;
$primary-400: $placeholder-color;
$primary-500: $placeholder-color;
$primary-600: $placeholder-color;
$primary-700: $placeholder-color;
$primary-800: $placeholder-color;
$primary-900: $placeholder-color;
$primary-1000: $placeholder-color;

// secondary colors
$secondary-50: $placeholder-color;
$secondary-100: $placeholder-color;
$secondary-200: $placeholder-color;
$secondary-300: $placeholder-color;
$secondary-400: $placeholder-color;
$secondary-500: $placeholder-color;
$secondary-600: $placeholder-color;
$secondary-700: $placeholder-color;
$secondary-800: $placeholder-color;
$secondary-900: $placeholder-color;
$secondary-1000: $placeholder-color;

// tertiary colors
$tertiary-50: $placeholder-color;
$tertiary-100: $placeholder-color;
$tertiary-200: $placeholder-color;
$tertiary-300: $placeholder-color;
$tertiary-400: $placeholder-color;
$tertiary-500: $placeholder-color;
$tertiary-600: $placeholder-color;
$tertiary-700: $placeholder-color;
$tertiary-800: $placeholder-color;
$tertiary-900: $placeholder-color;
$tertiary-1000: $placeholder-color;

// neutral colors
$neutral-50: $placeholder-color;
$neutral-100: $placeholder-color;
$neutral-200: $placeholder-color;
$neutral-300: $placeholder-color;
$neutral-400: $placeholder-color;
$neutral-500: $placeholder-color;
$neutral-600: $placeholder-color;
$neutral-700: $placeholder-color;
$neutral-800: $placeholder-color;
$neutral-900: $placeholder-color;
$neutral-1000: $placeholder-color;

// frame colors
$frame-50: $placeholder-color;
$frame-100: $placeholder-color;
$frame-200: $placeholder-color;
$frame-300: $placeholder-color;
$frame-400: $placeholder-color;
$frame-500: $placeholder-color;
$frame-600: $placeholder-color;
$frame-700: $placeholder-color;
$frame-800: $placeholder-color;
$frame-900: $placeholder-color;
$frame-1000: $placeholder-color;

// gradient colors
$primary-gradient: $placeholder-gradient;
$secondary-gradient: $placeholder-gradient;
$tertiary-gradient: $placeholder-gradient;
$frame-gradient: $placeholder-gradient;
$neutral-gradient: $placeholder-gradient;
$deposit-gradient: $placeholder-gradient;

// text colors
$button-text-light: $placeholder-color;
$button-text-dark: $placeholder-color;

// button colors
$button-primary-light: $placeholder-color;
$button-primary-dark: $placeholder-color;
$button-secondary-light: $placeholder-color;
$button-secondary-dark: $placeholder-color;
$button-deposit: $placeholder-color;

// divider colors
$divider-light: $placeholder-color;

// header variants
$popup-header-color: $placeholder-color;

// backgrounds
$desktop-background: $placeholder-color;
$mobile-background: $placeholder-color;

// error colors
$error-100: $placeholder-color;
$error-200: $placeholder-color;
$error-300: $placeholder-color;
$error-400: $placeholder-color;
$error-500: $placeholder-color;

// warning colors
$warning-100: $placeholder-color;
$warning-200: $placeholder-color;
$warning-300: $placeholder-color;
$warning-400: $placeholder-color;
$warning-500: $placeholder-color;

// success colors
$success-100: $placeholder-color;
$success-200: $placeholder-color;
$success-300: $placeholder-color;
$success-400: $placeholder-color;
$success-500: $placeholder-color;

// info colors
$info-100: $placeholder-color;
$info-200: $placeholder-color;
$info-300: $placeholder-color;
$info-400: $placeholder-color;
$info-500: $placeholder-color;

// sportsbook colors
$sportsbook-increase: $placeholder-color;
$sportsbook-decrease: $placeholder-color;
$sportsbook-neutral: $placeholder-color;
