.rtp-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rtp-box {
  width: 375px;
  margin-top: 10px;
}

.rtp-item {
  background: #010B21;
  border: none;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
  height: 65px;
  width: calc(50% - 3px);
}

.rtp-item.rtp-item--big {
  height: 135px;
}

.rpt-item_text {
  padding-left: 5px;
}

.rtp-item--margin-five-bottom {
  margin-bottom: 5px;
}

.rtp-item h6,
.rtp-item h3 {
  margin: 0;
  text-align: center;
}

.rtp-item h3,
.rtp-g-item h3 {
  font-size: 20px;
}

.rtp-g-item h3 {
  margin: 13px 0 0 82px;
}

.rtp-item-avatar {
  border: none;
  height: 35px;
  left: 0;
  position: relative;
  top: 0;
  width: 35px;
}

.rtp-item-avatar--user {
  float: none;
  height: 50px;
  margin: 10px auto;
  width: 50px;
}

.rtp-score-table {
  background: unset;
  margin: 0;
  padding: 0;
}

.rtp-score-table--half {
  width: 100%;
  min-width: unset;
  min-height: unset;
}

.rtp-table tbody tr {
  border-top: 1.5px solid #0D1D42;
}

.rtp-table tbody tr:first-child {
  border-top: none;
}

.rtp-table tbody tr td a {
  position: relative;
}

.rtp-table tbody tr td {
  border: none;
}

.rtp-more {
  background: #249CEC;
  margin: 10px 0;
  border: none;
}

.rtp-filter h2 {
  color: #249CEC;
  font: 700 16px/normal Roboto, Arial, Helvetica, sans-serif;
  margin: 0 0 16px 0;
  float: left;
  width: auto;
  font-weight: 700;
}

.rtp-filter-label {
  margin: 4px 0;
}

.rtp-filter-label .rtp-search {
  width: 100%;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px #D1D1D1 solid;
}

.rtp-filter-label input[type=text] {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font: 400 14px/normal Roboto, Arial, Helvetica, sans-serif !important;
  height: 32px;
}

.rtp-buttons-wrapper {
  width: 100%;
  margin: 10px 0 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rtp-buttons-wrapper .rtp-btn.inactive[data-type=day],
.rtp-buttons-wrapper .rtp-btn.inactive[data-type=week],
.rtp-buttons-wrapper .rtp-btn.inactive[data-type=month] {
  background: none;
  border: 1px solid #FFF;
  color: #FFFFFF;
}

.rtp-btn {
  text-align: center;
  border: none;
  line-height: 32px;
  height: 32px;
  padding: 0;
}

.rtp-btn.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#249CEC), to(#016BB2));
  background: linear-gradient(180deg, #249CEC 0%, #016BB2 100%);
  color: #FFF;
}

.rtp-detail-btn.rtp-btn {
  border-radius: 2px;
}

.rtp-btn.inactive {
  background: #003E68;
  border: none;
}

.rtp-buttons-wrapper .rtp-btn {
  width: calc(33% - 4px);
}

.rtp-button--search {
  border-radius: 5px;
  margin-top: 4px;
}

.rtp-date-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 9px;
}

.rtp-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 4px;
}

.rtp-date-wrapper input {
  border-radius: 5px;
  border: 1px #D1D1D1 solid;
}

.rtp-filter-label .rtp-date {
  width: 97px;
}

.rtp-filter-label .rtp-time {
  margin-left: 4px !important;
  width: 67px;
}

.rtp-detail-btn {
  width: 19px;
  height: 19px;
}

.rtp-detail-btn.icon.icon-vs-chevron-left:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 10px;
  color: white;
  top: 0;
  line-height: 19px;
  width: 19px;
  left: 0;
  font-weight: 900;
}

.rtp-session-datetime {
  position: absolute;
  left: 22px;
  padding-top: 70px;
}

.rtp-table-image {
  height: 30px;
  width: 30px;
}

.rtp-table-image img {
  padding: 0;
}

.rtp-table tbody tr td {
  padding-top: 10px;
}

#rtp_all_table tr td,
#rtp_game_table tr td {
  padding-bottom: 20px;
  padding: 14px 0 60px 0;
}

.rtp-crumbs {
  padding: 0;
}

.rtp-g-wrapper {
  margin: 0;
}

.rtp-g {
  background-color: #010B21;
  row-gap: 20px;
  padding-bottom: 20px;
}

.rtp-g,
.rtp-g-big {
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.rtp-g-item:nth-child(2), .rtp-g-item:nth-child(4) {
  border-left: 1px solid #223969;
}

.rtp-g-item,
.rtp-g-item-big {
  background: #010B21;
  border: none;
  margin: 5px 0;
  padding: 10px;
  width: calc(50% - 3px);
}

.rtp-g-item-avatar img,
.rtp-g-item-avatar-big {
  padding: 0;
  position: relative;
  float: left;
}

.rtp-g-item-text {
  margin-left: 100px;
  padding: 5px 20px;
  height: 100%;
}
.rtp-g-item-text > h6:first-child {
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
}

.rtp-g-graph,
.graph-container {
  background: none;
  border: none;
  width: 355px;
}

.rtp-g-item:last-of-type {
  width: calc(50% - 3px);
}

.rtp-g-item-big h6 {
  margin: 0;
}

.rtp-g-item-big:first-of-type {
  border-right: none;
}

.rpt-g-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.rpt-g-values_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.rpt-g-values_item strong {
  font: 700 20px/20px Roboto, Arial, Helvetica, sans-serif;
  color: #249CEC;
}

.rtp-col-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.rtp-col-25 {
  width: 25%;
}

.rtp-col-icon .icon {
  font-size: 13px;
}

.rtp-col-icon .icon-vs-chevron-left::before {
  position: relative;
  top: 0;
  right: 0;
  height: 19px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.rtp-g-graph {
  padding: 0;
}

.rtp-graph-box {
  background: #010B21;
  width: 375px;
  border: none;
}

.rtp-graph-box .rtp-crumbs {
  padding: 10px;
  margin-top: 10px;
}

.rtp-graph-box.margin-five-bottom {
  margin-bottom: 0px;
}

.graph-container > div {
  left: 10px;
}

.rtp-table tbody tr td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rtp-table tbody tr td:last-child {
  padding-right: 10px;
}

.rtp-table#rtp_game_table tbody tr td:last-child {
  padding-left: 10px;
}