.cashierHeader {
  margin-top: 0px !important;
}

.cashierHeader h3 {
  margin-top: 0px !important;
}

.gch-right .show-own-favs-btn {
  margin-top: 1px !important;
}

.gch-right-top-table {
  margin: -3px 0 0 -2px !important;
}

.tdown-num {
  top: 45px !important;
}

#tdown-sec {
  left: 182px !important;
}

#tdown-min {
  left: 102px !important;
}

.mp-chat-msgs {
  border: none !important;
  margin-top: -2px;
}