// .clashes-info-button
$clashes-info-button--background-color: $primary-500;
$clashes-info-button--background: $primary-500;

// .clashes-info-button:hover
$clashes-info-button-hover--background: $primary-500;

// .score-row-user
$score-row-user--border-color: $primary-500;

// .counter
$counter--color: $primary-500;

// .subtitle
$subtitle--color: $primary-500;

// .yellow
$yellow--color: $primary-500;

// .clashes-btn
$clashes-btn--gradient-color-start: #2196EB;
$clashes-btn--background: $primary-gradient;

// .clashes-btn:hover
$clashes-btn-hover--gradient-color-start: #2196EB;
$clashes-btn-hover--background: $primary-gradient;

// .clashes-btn-search
$clashes-btn-search--color: $white;

// .clashes-filter-label input[type=text]:focus,
// .clashes-filter-label input[type=text]:active
$clashes-filter-label-input--border-color: $primary-500;
