// .cookie-popup__description
$cookie-description--color: $neutral-900;

// text color for .cookie-popup__sub-header
$cookie-subheader-text--color: $neutral-900;

// btl allow all cookies
$cookie-allow-all-button--background: $button-primary-dark;
