// .edit-profile-select-wrapper #preferred_lang
$edit-profile-select--border-color: $primary-600;

// .registerform input[type=text],
// .registerform input[type=tel],
// .registerform input[type=password]
$edit-profile-input--border-color: $neutral-800;

// .edit-profile-submit-btn
$edit-profile-submit-btn--background: $button-primary-light;

