// .fast-deposit_predefs .cashier-predefined-amount:hover
$fast-deposit-predefs-cashier-predefined-amount-hover--background: $primary-600;
$fast-deposit-predefs-cashier-predefined-amount-hover--border: 2px solid $primary-600;
$fast-deposit-predefs-cashier-predefined-amount-hover--color: $white;

// .fast-deposit_predefs .cashier-predefined-amount.gradient-default
$fast-deposit-predefs-cashier-predefined-amount-gradient-default--background: $primary-600;
$fast-deposit-predefs-cashier-predefined-amount-gradient-default--border: 1px solid $primary-600;

// .fast-deposit_predefs .cashier-predefined-amount.gradient-text-default
$fast-deposit-predefs-cashier-predefined-amount-gradient-text-default--color: $neutral-700;

// .fast-deposit .cashier-predefined-amount-other
$fast-deposit-predefs-cashier-predefined-amount-other--background-color: $neutral-500 !important;

// .fast-deposit__action-area-link
$fast-deposit-action-area-link--color: $button-deposit;

// .zebra-tbl
$zebra-tbl--width: 100%;
$zebra-tbl--margin-left: 0;

// .fast-deposit .other-amount-currency-symbol
$fast-deposit-other-amount-currency-symbol--color: $primary-700;
