// body
$mobile-background: $neutral-400;

// .container-holder, #wrapper, #wrapper-container
$container-holder-wrapper-wrapper-container--width: 100%;

//.infoText
$info-text--padding: 0 0 0 10px;

// .cashierBtnOuter
$cashier-btn-outer--height: 60px;

// .cashierBtnInner
$cashier-btn-inner--margin: 0;
$cashier-btn-inner--float: right;

// .cashierBoxInsert
$cashier-box-insert--padding: 20px 0px !important;

// .cashierInput
$cashier-input--height: 40px;
$cashier-input--border-radius: 0;

// .infoArea ul
$info-area-ul--margin-top: 10px;
$info-area-ul--width: 350px;

// .infoArea ul li, .top-logos
$infoArea-ul-li-top-logos--border-bottom: none;

// .cashierSelect
$cashier-select--width: 100%;
$cashier-select--left: 0;

// #wrapper
$wrapper-mobile--background: url('#{$brand-image-path}/mobile/main_bkg2.jpg') no-repeat;

// .info_box
$info-box-mobile--background: url('#{$brand-image-path}/mobile/infobox.png') no-repeat;

// .cashierInput
$cashier-input--width: 100% !important;

// .big_headline_mobile
$big-headline-mobile--color: $placeholder-color;

// .mobile-top-list
$mobile-top-list--background: url('#{$brand-image-path}/mobile/top_menu_bkg.png') repeat-x;

// .mobile-login-box
$mobile-login-box--background: url('#{$brand-image-path}/mobile/txtfield_bkg.png') no-repeat;

// .frame-holder, .forgot-password, .news-top
$frame-holder--background: $frame-1000;

// .boxes-container .frame-holder, .boxes-container .forgot-password,
// .boxes-container .news-top
$mobile-boxes-container--background: url('#{$brand-image-path}/box-bg.png') repeat-x scroll 0 0 black;

// .document-mobile h3
$document-mobile-h3--color: $primary-500;
$document-mobile-h3--font-size: 16px;

// .headline-s
$headline-s--font-size: 14px;

// .headline-default-l
$headline-default-l--font-size: 24px;

// .mobile-change-language-headline
$mobile-change-language-headline--color: $primary-500;

// .acc-left-mobile-menu ul li
$acc-left-mobile-menu--background: $frame-900;
$acc-left-mobile-menu--border: 1px solid $frame-500;
$acc-left-mobile-menu--font-weight: normal;

// .acc-left-mobile-menu ul li a
$acc-left-mobile-menu-ul-li-a--color: $neutral-900;

// .menu-separator
$menu-separator--background: none; // url('#{$brand-image-path}/buttons/y35btn.png) repeat-x;

// .menu-separator .medium-bold
$menu-separator-medium-bold--text-shadow: none;

// .mobile-left-menu
$mobile-left-menu--background: $mobile-background;

// .active-reward-area .zebra-tbl
$active-reward-area-zebra-tbl--border-collapse: collapse;

// .trophies-top .trophy-category-headline:nth-child(2)
$trophies-top-trophy-category-headline-nthchild2--color: $light-grey;

// .trophies-top .xp-progressbar-bar
$trophies-top-xp-progressbar-bar--background-color: $primary-200;

// #trophy-top div label
$trophy-top-div-label--border-radius: 5px;
$trophy-top-div-label--background: $button-primary-dark;

// #trophy-top div input[type=radio]:checked ~ label
$trophy-top-div-input--background-gradient: linear-gradient($button-primary-light, $button-primary-light);

// #trophy-top div button
$trophy-top-div-button--background-gradient: linear-gradient($button-primary-light, $button-primary-light);

// #trophy-top div button:active
$trophy-top-div-button-active--background-gradient: linear-gradient($button-primary-light, $button-primary-light);

// #trophy-area .trophy-category-section
$trophy-area-trophy-category-section--border-bottom: 2px $primary-800 solid;

// #trophy-area .selected-color
$trophy-area-selected-color--color: $primary-500;

// #trophy-area .trophy-category-headline
$trophy-area-trophy-category-headline--color: $neutral-900;

// .fav-table h3
$fav-table-h3--color: $primary-500;
$fav-table-h3--font-size: 20px;

// .search-fav
$search-fav--color: $neutral-400;
$search-fav--border: 1px solid $neutral-400;

// .bank-other-account-btn
$bank-other-account-btn--width: 150px !important;
$bank-other-account-btn--position: inherit;

// .lic-mbox-container.minimal-padding
$lic-mbox-container--padding: 20px 16px !important;

// .container-holder
$container-holder--padding-top: 48px;

// .has-sticky-bar .lic-mbox-wrapper
$lic-mbox-wrapper--margin-top: 8px !important;

// .wheel-info-jackpot-number
$wheel-info-jackpot-number--font-weight: 700;

// .trophy-search-area-mobile #search_str
$trophy-search-area-mobile-search_str--border: 1px $neutral-800 solid;

// .trophy-search-area-mobile #category, .trophy-search-area-mobile #sub_category
$trophy-search-area-mobile-category--color: $neutral-800;
$trophy-search-area-mobile-category--border: 1px solid $neutral-800;

// .achievements-user-info
$achievements-user-info--color: $neutral-1000;

// .profile-avatar-container
$profile-avatar-container--background-color: $frame-800;
$profile-avatar-container--border: none;

// .achievements-user-info .profile-avatar-container
$achievements-user-info-profile-avatar-container--border: none;

// .avatar-round
$avatar-round--border: 3px solid $primary-400;

// .grey-framed-btn
$grey-framed-btn--border: 0;
$grey-framed-btn--background-color: $button-primary-light;
$grey-framed-btn--color: $white;
$grey-framed-btn--border-radius: 2px;

// .grey-framed-btn:active
$grey-framed-btn-active--background: inherit;
$grey-framed-btn-active--color: inherit;

// .view-more-btn
$view-more-btn--color: $white;
$view-more-btn--background-color: $button-primary-light;
$view-more-btn--border-radius: 5px;

// .view-more-btn:active
$view-more-btn-active--color: inherit;
$view-more-btn-active--background-color: inherit;

// .mobile-game-review-description h1
$mobile-game-review-descriprion-h1--color: $placeholder-color;

// .mobile-content font color
$mobile-content--font-color: $neutral-400;

// .mobile-content a
$mobile-content-a--color: $primary-500;

// .view-more-mobile
$view-more-mobile--font-size: 18px;
$view-more-mobile--background-color: $button-primary-light;

// .game-filter
$game-filter-header--background: $frame-1000;
$game-filter--color: $neutral-800;

// .game-filter .header
$game-filter-header--border: 1px solid $frame-100;

// .game-filter .header a
$game-filter-header-a--color: $button-primary-light;

// .game-filter .header div:nth-child(2)
$game-filter-header-a-active--font-size: 14px;

// .game-filter .icons
$game-filter-icons--height: 44px;
$game-filter-icons--background: $white;

// .game-filter .icons img
$game-filter-icons-img--height: 30px;
$game-filter-icons-img--filter: none;

// .game-filter .icons .active
$game-filter-icons-active--background: $button-primary-light;

// .game-filter .icons .active img
$game-filter-icons-active-img--filter: none;

// .game-filter .section .header
$game-filter-section-header--border-color: $frame-100;
$game-filter-section-header--background: $frame-400;
$game-filter-section-header--color: $primary-200;
$game-filter-section-header--font-weight: 400;
$game-filter-section-header--height: 40px;

// .game-filter .section .header .erase
$game-filter-section-erase--background: $frame-700;
$game-filter-section-header-erase--color: $neutral-500;

// .game-filter .section .main-icon
$game-filter-section-main-icon--border-color: transparent;
$game-filter-section-main-icon--color: $primary-200;
$game-filter-section-main-icon--padding: 0 5px 0 0;
$game-filter-section-main-icon--margin-right: 5px;
$game-filter-section-main-icon--font-size: 16px;

// .game-filter .section .icon.pull-right
$game-filter-section-icon-pull-right--color: $neutral-700;

// .game-filter .section .contents
$game-filter-contents--background: transparent;

// .game-filter .section .contents .checkbox-item
$game-filter-section-contents-checkbox-item--padding: 6px 10px 6px 0;

// .game-filter .section .contents .checkbox-item .icon-vs-flame
$game-filter-section-contents-checkbox-item-icon-vs-flame--font-size: 14px;

// .game-filter .section .contents .checkbox-item input
$game-filter-section-contents-checkbox-item-input--margin-right: 1px;
$game-filter-section-contents-checkbox-item-input--width: 18px;
$game-filter-section-contents-checkbox-item-input--height: 18px;

// .game-filter .right-col
$game-filter-checbox-item-right-col--padding: 6px 0 6px 10px !important;

// .game-filter .section .contents .select-item
$game-filter-select-item--padding: 6px 0;

// .game-filter-wrapper .game-filter .submit-buttons
$game-filter-submit-buttons--background: $frame-1000;

// .search-notice--heading
$search-notice-heading--color: $primary-500;

// .checkbox-handler
$checkbox-handler--background: $white;
$checkbox-handler--border-color: $neutral-800;
$checkbox-handler--border-radius: 0;
$checkbox-handler--color: $neutral-800;
$checkbox-handler--margin: 3px 3px 13px;

// .checkbox-handler:active
$checkbox-handler-active--background: $primary-500;
$checkbox-handler-active--color: $white;

// .checkbox-handler:hover
$checkbox-handler-hover--background: $primary-500;
$checkbox-handler-hover--color: $white;

// .irs--flat .irs-line
$range-slider--background: $white;

// .irs--flat .irs-bar
$range-slider-bar--background: $primary-500;

// .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single
$range-slider-legend--color: $white;

// .game-filter .type-search .clear
$game-filter-search-clear--border-color: transparent;
$game-filter-search-clear--background: $white;
$game-filter-search-clear--color: $white;

// .search-box
$search-box--background: $white;

// .save-popup-html label
$save-popup-html-label--color: $neutral-700;

// .save-popup-html input
$save-popup-html-input--border-color: $neutral-800;

// .save-popup-html .popup-input-validation
$save-popup-html-validation--color: $error-500;

// .save-filter
$save-filter-form--background: $button-primary-light;

// .delete-popup-cancel-button
$delete-popup-cancel-button--background-color: $button-secondary-light;

// .filter-select .selected-filter
$filter-select-selected-filter--color: $primary-400 !important;

// .vs-mobile-bottom-menu
$vs-mobile-bottom-menu--background: $primary-500;
$vs-mobile-bottom-menu--border-color: transparent;

// .vs-notification-message
$vs-notification-message--color: $neutral-700;

// .vs-notification-message:nth-child(even)
$vs-notification-message-even--background: $frame-400;

// #notifications-box .multibox-content
$notifications-box-multibox-content--background: $frame-800;

// #search-box .multibox-content
$search-box-multibox-content--background: $frame-1000;
$search-box-multibox-content--padding: 0px 0px 20px 0px;

// .news-bottom-mobile
$news-bottom-mobile--background: url('#{$brand-image-path}/news/news-bg-bottom.png') no-repeat;

// .mobile-news-slider
$mobile-news-slider--color: $placeholder-color;

// .mobile-payment-options h1,
// .mobile-payment-options h4
$mobile-payment-options-h1-h4--color: $placeholder-color;

// .mobile-payment-option-tr-content h3,ul
$mobile-payment-option-tr-content-h3-ul--margin-right: 0;

// .mobile-payment-option-tr-content ul li::before
$mobile-payment-option-tr-content--color: $placeholder-color;

//.contact-us-form__header
$contact-us-form__header: $popup-header-color;

//.contact-us-form__header-title
$contact-us-form__header-title--font-size: 18px;

//.contact-us-form__input-container .btn
$contact-us-form__input-container-btn--border-radius: 5px;
$contact-us-form__input-container-btn--font-size: 18px;

// #contact-us-form a
$contact-us-form-a--color: $primary-600;

// #errorZone.email-success
$errorZone-email-success--color: $success-500;

// #dep-lim-info-box .limits-deposit-set p
$dep-lim-info-box-limits-deposit-set-p-mobile--margin: 0 0 20px 0;
