// .notification_item
$notification_item--background-color: $frame-200;
$notification_item--border: none;

// .notification_item-date
$notification_item-date--font-size: 12px;
$notification_item-date--color: $primary-500;