// .game .game-top
$game_game-top--height: 106px;

// .game .game-text
$game-game-text--color: $neutral-900;

// .game-choose-headline
$game-choose-headline--background: $frame-700;
$game-choose-headline--padding-left: 12px;
