//.trophy-category-section
$trophy-category-section--margin-top: 10px;

// .activity-category-description
$activity-category-description--font-size: 12px;
$activity-category-description--font-weight: 400;

// .activity-progress-txt
$activity-progress-txt--font-weight: 400;

// .xp-progressbar-bkg
$xp-progressbar-bkg: $neutral-200;

// .xp-progressbar-bar
$xp-progressbar-bar--box-shadow: none;

// .text-medium-bold
$text-medium-bold--color: $neutral-900;

// .trophy-infobox
$trophy-infobox--border: 1px solid $frame-50;
$trophy-infobox--background: $frame-500;
$trophy-infobox--color: $neutral-900;

// .rewards-middle-box h3
$rewards-middle-box-h3--border-bottom: none;

// .active-reward-area
$active-reward-area--width: calc(100% - 103px);

// .search-container .icon-vs-search:before
$search-container-icon-vs-search-before--color: $neutral-500;

// .mission-graph colors
$mission-graph--font-color: $black;
$mission-graph--base-color: $neutral-200;
$mission-graph--fill-color: $primary-200;

// .new-reset-icon
$new-reset-icon--background-color: $primary-500;
$new-reset-icon--border: 1px solid $primary-500;

// .new-reset-icon .icon
$new-reset-icon-icon--color: $white;

