**/.idea/*
**/.scannerwork/*
**/.sonar/*
**/.vscode/*
*DS_Store*
.htaccess
.phpstorm.meta.php
.svn/*
Thumbs.db
log/*
shix/*
vendor/*

syntax: glob
phive_admin/customization/plugins/mosaico/node_modules/**
phive_admin/customization/plugins/mosaico/bower_components/**
phive_admin/customization/plugins/mosaico/build/**
phive_admin/customization/plugins/mosaico/dist/**
phive_admin/customization/plugins/mosaico-template/email-templates/**
phive_admin/customization/plugins/mosaico/package-lock.json
phive_admin/debugbar
phive_admin/node_modules
storage/*.log
storage/view/*
!storage/view/.gitkeep
storage/reports/*
!storage/reports/.gitkeep
nbproject/**
.idea/**
.env
file_uploads
local
nbproject/**
config/local.php
app/Commands/TestCommand.php
pimple.json
app/Commands/MiscCommand.php
.sparkpost.whitelist.ips
output.log
qa_locked
