.row {
    margin: 0;
}

.bannercontainer {
    border: 1px solid lightgray;
    margin-bottom: 20px;
    padding: 10px;
}

.banner-image {
    float:left;
    margin: 10px 25px 0px 0px;
    padding-bottom: 10px;
}

#seeallimages, #seeallleftoverimages {
    margin-top: 20px;
}

#allimages {
    overflow: auto;
}

#select-banner-type-container {
    overflow: auto;
}

#select-bonus-code-container {
    overflow: auto;
}

#select_email_language {
    overflow: auto;
}

#edit-email-form {
    margin-top: 20px;
}

.input {
    width: 400px;
    border-radius: 0;
    border: 1px solid #D2D6DE;
    line-height: 28px;
    padding-left: 10px;
}

label[for="subject"], label[for="replacers"] {
    width: 80px;
    font-weight: normal;
}

.alias-input {
    display: inline;
    width: auto;
}

#input_new_alias_container {
    overflow: auto;
}

/* multiupload */
#upload-cont input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-cont {
    height: 14px;
    border: 1px solid #aaa;
    width: 200px;
    margin-top: 20px;
}

#progress-bar {
    background-color: #005;
    width: 0%;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
}

#progress-text {
    position: relative;
    top: -14px;
    color: #555;
    font-size: 10px;
    line-height: 14px;
    padding-left: 2px;
}


#upload-link {
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
}

#clear-files {
    display: none;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline;
}

.input-error {
    border-color: #dd4b39 !important;
}

#submit_last_part[disabled] {
    cursor: not-allowed;
}

.delete-image {
    float: left;
    margin-right: 20px;
}

.banner-info-container {
    height: 100px;
}

.background-preview-container {
    text-align: center;
}

#new-background-preview {
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-preview {
    width: 466px;
}

#change_page_background_submit_button {
    display: block;
    margin: 0 auto;
}